
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	Simplex method calculator
</title>
<link rel="SHORTCUT ICON" href="/favicon.ico" />
<link href="/Style/math10.css" type="text/css" rel="stylesheet" />
<link href="/Scripts/tooltip_files/style.css" rel="stylesheet" type="text/css" />
<link href="/Style/TableBorder.css" type="text/css" rel="stylesheet" />
<link href="/Style/tooltip.css" type="text/css" rel="stylesheet" />
<link href="/Style/Details_Summary.css" type="text/css" rel="stylesheet" />
<script type="text/x-mathjax-config">
MathJax.Hub.Register.StartupHook("End Jax",function () {
  var BROWSER = MathJax.Hub.Browser;
  var jax = "PreviewHTML"; //PreviewHTML,CommonHTML,HTML-CSS,NativeMML,PlainSource,SVG
  //if (BROWSER.isMSIE && BROWSER.hasMathPlayer) jax = "NativeMML";
  return MathJax.Hub.setRenderer(jax);
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  menuSettings: { assistiveMML: false },
  PreviewHTML: { linebreaks: { automatic: true } },
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
         //, showMathMenu: false
         , messageStyle: 'none'
});
</script>
<script language="javascript" type="text/javascript" src="/Scripts/Common.js"></script>
<script language="javascript" type="text/javascript" src="/Scripts/Validation.js"></script>
<script language="javascript" type="text/javascript" src="/Scripts/JSHighlightCell.js"></script>
<script language="javascript" type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
<meta id="description" name="description" content="Simplex method calculator - Solve the Linear programming problem using Simplex method, step-by-step" /><meta id="keywords" name="keywords" content="Simplex method calculator - Solve the Linear programming problem using Simplex method, step-by-step" /><meta name="author" content="Piyush N Shah" /><meta name="robots" content="index, follow" /><meta name="viewport" content="width=device-width, initial-scale=0.9" />

<script type="text/javascript" src="//services.bilsyndication.com/adv1/?q=962dec78ea18169a87ea88122cd055e6" defer="" async=""></script><script> var vitag = vitag || {}; vitag.enableGeoLocation= true;</script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=AM_HTMLorMML-full"></script><link href="/WebResource.axd?d=43pjbGDRFHz-32yA4rGfecJqTDU5r1Zedt2_4tnI8paoPsBCByIc6iZ1CAhmfeE_-Frj2ibnPj9233NpBIHOyCBPDNqyB_BFLRYEJ2EbEslJ9-j_oADxXM4N5vRdr1jze_0qZKpgy-VM_3NjqJdnfjrBVGU1&amp;t=634943506522150101" type="text/css" rel="stylesheet" /><link href="/WebResource.axd?d=4fzCFruWABOhSdX-W636Ch73p7tjIQGCMNMAoIn3usBQLNj75ULYuvraVSFhHatjF9MtL1TiZWzJrK2zPe7XXa9YzvjyeSxKgbfWDRVWeG80eb0__ZcEV4bYr6i-sbV1Mmk09XIIfDrTeHdqM24JJI8p-u41&amp;t=634943506522150101" type="text/css" rel="stylesheet" /></head>
<body>
<script src="https://www.google.com/recaptcha/api.js?render=6LfwXrYUAAAAAILeAD6GCvV0DQKPtiBM0J4dAaNs"></script>
<script>
  grecaptcha.ready(function() {
      grecaptcha.execute('6LfwXrYUAAAAAILeAD6GCvV0DQKPtiBM0J4dAaNs', {action: 'homepage'}).then(function(token) {
        // pass the token to the backend script for verification
        document.cookie = "token="+token;
      });
  });
</script>
<form method="post" action="./Simplex.aspx?q=sm" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ContentPlaceHolder1_BtnFind')" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" id="ContentPlaceHolder1_ToolkitScriptManager1_HiddenField" value="" />
<input type="hidden" name="ContentPlaceHolder1_TabContainer1_ClientState" id="ContentPlaceHolder1_TabContainer1_ClientState" value="{&quot;ActiveTabIndex&quot;:1,&quot;TabState&quot;:[true,true]}" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTE4MjkxNTI4NA9kFgJmDw8WAh4IQWRIZWlnaHQCO2QWBGYPZBYIAgEPFQoBLwEvAS8BLwEvAS8BLwEvAS8BL2QCAg8WAh4HY29udGVudAVjU2ltcGxleCBtZXRob2QgY2FsY3VsYXRvciAtIFNvbHZlIHRoZSBMaW5lYXIgcHJvZ3JhbW1pbmcgcHJvYmxlbSB1c2luZyBTaW1wbGV4IG1ldGhvZCwgc3RlcC1ieS1zdGVwZAIDDxYCHwEFY1NpbXBsZXggbWV0aG9kIGNhbGN1bGF0b3IgLSBTb2x2ZSB0aGUgTGluZWFyIHByb2dyYW1taW5nIHByb2JsZW0gdXNpbmcgU2ltcGxleCBtZXRob2QsIHN0ZXAtYnktc3RlcGQCCA8WAh4EVGV4dAXQATxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0IiBzcmM9Ii8vc2VydmljZXMuYmlsc3luZGljYXRpb24uY29tL2FkdjEvP3E9OTYyZGVjNzhlYTE4MTY5YTg3ZWE4ODEyMmNkMDU1ZTYiIGRlZmVyPSIiIGFzeW5jPSIiPjwvc2NyaXB0PjxzY3JpcHQ+IHZhciB2aXRhZyA9IHZpdGFnIHx8IHt9OyB2aXRhZy5lbmFibGVHZW9Mb2NhdGlvbj0gdHJ1ZTs8L3NjcmlwdD5kAgEPZBYEAgEPZBYCAgEPZBYCZg9kFgICAQ8WAh4Fd2lkdGgFAzkwJRYCZg9kFgRmD2QWAgIBDw9kFgIeB29ua2V5dXAFGHJldHVybiB0eHQxX0tleXByZXNzMigpO2QCAQ9kFgICAQ8PZBYCHgdvbmNsaWNrBRhyZXR1cm4gQnRuRmluZDJfQ2xpY2soKTtkAgsPZBYKZg8WAh8CBRlkb2N1bWVudC5jb29raWUgPSAncjI9Mic7ZAICD2QWAmYPZBYCAgEPEA9kFgIeCG9uY2hhbmdlBR5kZGxGaW5kX2NoYW5nZSgpO3JldHVybiBmYWxzZTtkZGQCDQ8PZBYCHwUFF3JldHVybiBCdG5GaW5kX0NsaWNrKCk7ZAIPDxYCHglpbm5lcmh0bWwF5xU8bGkgb25jbGljaz0icmV0dXJuIGxiX2NsaWNrKCczYDNgbWF4YFpgeDEseDIseDNgMyw1LDRgMiwzLDA7MCwyLDU7MywyLDRgPD0sPD0sPD1gOCwxMCwxNWAnKTsiPm1heCBaID0gM3gxICsgNXgyICsgNHgzPGJyPnN1YmplY3QgdG88YnI+MngxICsgM3gyIDw9IDg8YnI+MngyICsgNXgzIDw9IDEwPGJyPjN4MSArIDJ4MiArIDR4MyA8PSAxNTxicj5hbmQgeDEseDIseDMgPj0gMCA8aHI+PC9saT48bGkgb25jbGljaz0icmV0dXJuIGxiX2NsaWNrKCczYDNgbWF4YFpgeDEseDIseDNgNSwxMCw4YDMsNSwyOzQsNCw0OzIsNCw1YDw9LDw9LDw9YDYwLDcyLDEwMGAnKTsiPm1heCBaID0gNXgxICsgMTB4MiArIDh4Mzxicj5zdWJqZWN0IHRvPGJyPjN4MSArIDV4MiArIDJ4MyA8PSA2MDxicj40eDEgKyA0eDIgKyA0eDMgPD0gNzI8YnI+MngxICsgNHgyICsgNXgzIDw9IDEwMDxicj5hbmQgeDEseDIseDMgPj0gMCA8aHI+PC9saT48bGkgb25jbGljaz0icmV0dXJuIGxiX2NsaWNrKCcyYDRgbWF4YFpgeDEseDJgNCwzYDIsMTsxLDE7MSwwOzAsMWA8PSw8PSw8PSw8PWAxMDAwLDgwMCw0MDAsNzAwYCcpOyI+bWF4IFogPSA0eDEgKyAzeDI8YnI+c3ViamVjdCB0bzxicj4yeDEgKyB4MiA8PSAxMDAwPGJyPngxICsgeDIgPD0gODAwPGJyPngxIDw9IDQwMDxicj54MiA8PSA3MDA8YnI+YW5kIHgxLHgyID49IDAgPGhyPjwvbGk+PGxpIG9uY2xpY2s9InJldHVybiBsYl9jbGljaygnMmAyYG1pbmBaYHgxLHgyYDEsMWAyLDQ7MSw3YD49LD49YDQsN2AnKTsiPm1pbiBaID0geDEgKyB4Mjxicj5zdWJqZWN0IHRvPGJyPjJ4MSArIDR4MiA+PSA0PGJyPngxICsgN3gyID49IDc8YnI+YW5kIHgxLHgyID49IDAgPGhyPjwvbGk+PGxpIG9uY2xpY2s9InJldHVybiBsYl9jbGljaygnMmAyYG1pbmBaYHgxLHgyYDYwMCw1MDBgMiwxOzEsMmA+PSw+PWA4MCw2MGAnKTsiPm1pbiBaID0gNjAweDEgKyA1MDB4Mjxicj5zdWJqZWN0IHRvPGJyPjJ4MSArIHgyID49IDgwPGJyPngxICsgMngyID49IDYwPGJyPmFuZCB4MSx4MiA+PSAwIDxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzJgM2BtaW5gWmB4MSx4MmA1LDNgMiw0OzIsMjs1LDJgPD0sPSw+PWAxMiwxMCwxMGAnKTsiPm1pbiBaID0gNXgxICsgM3gyPGJyPnN1YmplY3QgdG88YnI+MngxICsgNHgyIDw9IDEyPGJyPjJ4MSArIDJ4MiA9IDEwPGJyPjV4MSArIDJ4MiA+PSAxMDxicj5hbmQgeDEseDIgPj0gMCA8aHI+PC9saT48bGkgb25jbGljaz0icmV0dXJuIGxiX2NsaWNrKCc0YDNgbWF4YFpgeDEseDIseDMseDRgMSwyLDMsLTFgMSwyLDMsMDsyLDEsNSwwOzEsMiwxLDFgPSw9LD1gMTUsMjAsMTBgJyk7Ij5tYXggWiA9IHgxICsgMngyICsgM3gzIC0geDQ8YnI+c3ViamVjdCB0bzxicj54MSArIDJ4MiArIDN4MyA9IDE1PGJyPjJ4MSArIHgyICsgNXgzID0gMjA8YnI+eDEgKyAyeDIgKyB4MyArIHg0ID0gMTA8YnI+YW5kIHgxLHgyLHgzLHg0ID49IDAgPGhyPjwvbGk+PGxpIG9uY2xpY2s9InJldHVybiBsYl9jbGljaygnMmAyYG1heGBaYHgxLHgyYDMsOWAxLDQ7MSwyYDw9LDw9YDgsNGAnKTsiPm1heCBaID0gM3gxICsgOXgyPGJyPnN1YmplY3QgdG88YnI+eDEgKyA0eDIgPD0gODxicj54MSArIDJ4MiA8PSA0PGJyPmFuZCB4MSx4MiA+PSAwIDxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzNgMmBtYXhgWmB4MSx4Mix4M2AzLDIsMWAyLDUsMTszLDQsMGA9LD1gMTIsMTFgeDEnKTsiPm1heCBaID0gM3gxICsgMngyICsgeDM8YnI+c3ViamVjdCB0bzxicj4yeDEgKyA1eDIgKyB4MyA9IDEyPGJyPjN4MSArIDR4MiA9IDExPGJyPmFuZCB4Mix4MyA+PSAwIGFuZCB4MSB1bnJlc3RyaWN0ZWQgaW4gc2lnbjxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzRgMmBtYXhgWmB4MSx4Mix4Myx4NGAzLDMsMiwxYDIsMiw1LDE7MywzLDQsMGA9LD1gMTIsMTFgJyk7Ij5tYXggWiA9IDN4MSArIDN4MiArIDJ4MyArIHg0PGJyPnN1YmplY3QgdG88YnI+MngxICsgMngyICsgNXgzICsgeDQgPSAxMjxicj4zeDEgKyAzeDIgKyA0eDMgPSAxMTxicj5hbmQgeDEseDIseDMseDQgPj0gMCA8aHI+PC9saT48bGkgb25jbGljaz0icmV0dXJuIGxiX2NsaWNrKCcyYDNgbWF4YFpgeDEseDJgNiw0YDIsMzszLDI7MSwxYDw9LDw9LD49YDMwLDI0LDNgJyk7Ij5tYXggWiA9IDZ4MSArIDR4Mjxicj5zdWJqZWN0IHRvPGJyPjJ4MSArIDN4MiA8PSAzMDxicj4zeDEgKyAyeDIgPD0gMjQ8YnI+eDEgKyB4MiA+PSAzPGJyPmFuZCB4MSx4MiA+PSAwIDxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzJgM2BtYXhgWmB4MSx4MmAzLDVgMSwtMjsxLDA7MCwxYDw9LDw9LD49YDYsMTAsMWAnKTsiPm1heCBaID0gM3gxICsgNXgyPGJyPnN1YmplY3QgdG88YnI+eDEgLSAyeDIgPD0gNjxicj54MSA8PSAxMDxicj54MiA+PSAxPGJyPmFuZCB4MSx4MiA+PSAwIDxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzJgMmBtYXhgWmB4MSx4MmA2LDRgMSwxOzAsMWA8PSw+PWA1LDhgJyk7Ij5tYXggWiA9IDZ4MSArIDR4Mjxicj5zdWJqZWN0IHRvPGJyPngxICsgeDIgPD0gNTxicj54MiA+PSA4PGJyPmFuZCB4MSx4MiA+PSAwIDxocj48L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gbGJfY2xpY2soJzJgMmBtYXhgWmB4MSx4MmA2LDRgLTEsLTE7MCwxYD49LD49YC01LDhgJyk7Ij5tYXggWiA9IDZ4MSArIDR4Mjxicj5zdWJqZWN0IHRvPGJyPi14MSAtIHgyID49IC01PGJyPngyID49IDg8YnI+YW5kIHgxLHgyID49IDAgPGhyPjwvbGk+ZAITD2QWAmYPZBYCZg9kFgQCAQ8PFgIeB1N0ZXBzQnkFAVBkZAIDD2QWAmYPZBYCAgEPZBYEZg9kFgICAQ9kFgICAw8WAh8HBZoFPGxpIG9uY2xpY2s9InJldHVybiBzZXRSYW5kb21UcnlUaGlzVmFsdWVHcmFwaCgnLTIwYDIwYC0yMGAyMCcpOyI+WE1pbmA9LTIwYCwgWE1heGA9MjBgLCBZTWluYD0tMjBgLCBZTWF4YD0yMGA8L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gc2V0UmFuZG9tVHJ5VGhpc1ZhbHVlR3JhcGgoJy0xNWAxNWAtMTVgMTUnKTsiPlhNaW5gPS0xNWAsIFhNYXhgPTE1YCwgWU1pbmA9LTE1YCwgWU1heGA9MTVgPC9saT48bGkgb25jbGljaz0icmV0dXJuIHNldFJhbmRvbVRyeVRoaXNWYWx1ZUdyYXBoKCctMTBgMTBgLTEwYDEwJyk7Ij5YTWluYD0tMTBgLCBYTWF4YD0xMGAsIFlNaW5gPS0xMGAsIFlNYXhgPTEwYDwvbGk+PGxpIG9uY2xpY2s9InJldHVybiBzZXRSYW5kb21UcnlUaGlzVmFsdWVHcmFwaCgnLThgOGAtOGA4Jyk7Ij5YTWluYD0tOGAsIFhNYXhgPThgLCBZTWluYD0tOGAsIFlNYXhgPThgPC9saT48bGkgb25jbGljaz0icmV0dXJuIHNldFJhbmRvbVRyeVRoaXNWYWx1ZUdyYXBoKCctNmA2YC02YDYnKTsiPlhNaW5gPS02YCwgWE1heGA9NmAsIFlNaW5gPS02YCwgWU1heGA9NmA8L2xpPjxsaSBvbmNsaWNrPSJyZXR1cm4gc2V0UmFuZG9tVHJ5VGhpc1ZhbHVlR3JhcGgoJy01YDVgLTVgNScpOyI+WE1pbmA9LTVgLCBYTWF4YD01YCwgWU1pbmA9LTVgLCBZTWF4YD01YDwvbGk+ZAIDD2QWAmYPZBYCAgEPD2QWAh8FBRpyZXR1cm4gQnRuUmVHcmFwaF9DbGljaygpO2QYAgUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFggFKWN0bDAwJEhlYWRlckN0bDEkU2VyYXJjaFNvbHZlQ3RsMSRCdG5GaW5kBSVjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNoa01pblRvTWF4BShjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNoa011bHRpcGxlU29sBTBjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNoa0FydGlmaWNpYWxDb2xSZW1vdmUFLWN0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkY2hrU3VidHJhY3Rpb25TdGVwcwUkY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRjaGtUb29sdGlwBSZjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNoa0hpZ2hsaWdodAUnY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRUYWJDb250YWluZXIxBSdjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJFRhYkNvbnRhaW5lcjEPD2QCAWTVsBZjNuiRFUI0TQK3kDHa3vYKrg==" />
</div>
<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
<script src="/WebResource.axd?d=w6KYf2HuTDxlldK99UMMUP8bqwRg60K_xTNwoetJqQdYS5MvTAqpII3fEalU47x3boCpsuxMAVLclyuSW25wcCB91201&amp;t=637352796975788278" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=qlI2Cww-nL1PAA04DAH-Z3A4PGU7ywIuJhJbywpxrXBeWvuYeZZwELf04W481GfCeUGzBv6Y9BtN6hU3qmFqEX0rvMHB1xmROf6xQvQi4mU4h1aoiJ2EAxizHU8VRzQEWStGlmXTGuUIGSslv8lImX6Qd8DsuXLG2d84Dlir8UjbpZWI0&amp;t=ffffffffdfc97409" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=i3Jdu-CvBfdhreP3inufwjb3cODHyeusEqpRcEU2tscUITh3QJdcQPXUnhK-HtV68_HBtBQHLruM3tm6vaUPglAcEGty4y96Bz7oQ3a3nRRO384zFjyjmXWWlRrL8eu1UHaFa-srOax1qn2T1o4i5ZCsYzftib2eavQH0KPtAg82QAmg0&amp;t=ffffffffdfc97409" type="text/javascript"></script>
<script src="/CBOM/Simplex.aspx?_TSM_HiddenField_=ContentPlaceHolder1_ToolkitScriptManager1_HiddenField&amp;_TSM_CombinedScripts_=%3b%3bAjaxControlToolkit%2c+Version%3d1.0.20229.33058%2c+Culture%3dneutral%2c+PublicKeyToken%3d28f01b0e84b6d53e%3aen-US%3a9921a0de-6050-4870-abd9-b41bbc96c02b%3ae2e86ef9%3a1df13a87%3aee0a475d%3ac4c00916%3a9ea3f0e2%3a9e8e87e9%3a4c9865be%3a630bb7c2%3aba594826%3a8c0f2dfd" type="text/javascript"></script>
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="EB2DA032" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAClqhbeGDv+scKogRKO7/U/vOWTnjwhmBXYiezH5kDQFYnj/rwfbfGkaRxKMK9xtlWq04xyZ5alu8QPxhoNSjZm6VcT3/YYFO4PPx67BMuug32ETd3wXtmMatILDVN+3gNe7Dn8NGu0QdL94pEzRYjQCmO6nDbn36iltdVwMyhCZrqsGzoCD4uxwujGNBe6zI+QDHvrqNDRZ+iu+HMAX0WwCmcwFqvz2tL0EVqegfmPundN5iPd3KdyFq9HtUOyn7cAlwKi+8qIVOhn3WTsQOt/XkTLvTHhhvT6/Pa28eJYB+1kCQMEjoLoBPM0JX9RNrTlX5EIeRhi2+GDQ1MmAJPji3c60EEE4k/0g0b9XjVEMjF/5GbaAazqYe3r+SR3uKk+/GIiESK+XCc5aNP8BpfYFmpc6Y45Ta6egLUPEMdn0kFtZ66fG9K31aWX4ZNRI3rCm1nWses7z+NM8WQiai/NVE+DaFzEoIBloz922NtVnZK39rPevmKnZMhrrXOJYy2VFiHpumlcTFDAz6uGd7q2xSI7WZAC1MoDwn5s/PSIDNcWOLD3sZKkc1CP/UaR9vnI129NYQTHZyGD778EvQAgdsWm1H99y+/PUHtwreOb5OQsI//NbLsWA+45RRKhpHZKdrGOqQk6z9q1SORzbsRiywS49xH8Juxwll4HbzbBbai9FMDG0gz4zLIjuaMT5028WteVObNk67zn2OuBxVl6ewOVqZb5cpP/QPYoPoz0G9R4bsikZ41yZvca0S8tqiLtDAzEQMd48tm/aef9DgcAGHIExjg1oaXLoSzLoro4/ptuPFretWRDgGrsafOZKu0ipr1KzN6m2WYTCqz3lrVDOPVLjCljcvgQY24QSdIotntqWrh9swadfhmiP/3BmWbP3plDE" />
</div>
<table id="Table1" cellpadding="0" cellspacing="0" class="table0" width="100%">
<tr class="menubg" align="center">
<td>
<table id="Table4" cellpadding="0" cellspacing="0" class="table0" width="100%">
<tr class="menubg">
<td valign="middle">
<div id="consentframe" style="width: 100%; color: black;">
<div style="border: 1px solid gray; background: #eeeefe; padding: 0px; margin: 0px 0px 0px 0px; text-align: justify; font-size: 14px;">
<p style="vertical-align: middle;">
We use cookies to improve your experience on our site and to show you relevant advertising.
By browsing this website, you agree to our use of cookies. <a href="//atozmath.com/privacy.aspx">Learn
more</a> &nbsp;&nbsp;
<input type="button" id="cookiesok" title="Agree" value="Accept">
</p>
</div>
</div>
<script>var allowcookies=null; var v = new RegExp("cookiesconsent=([^;]+)").exec(document.cookie); if (v != null) { allowcookies=unescape(v[1]); } ; var bar = document.getElementById('consentframe'), btn = document.getElementById('cookiesok'); btn.onclick = function() { bar.style.display = 'none'; var d = new Date; d.setTime(d.getTime()+24*60*60*1000*365); document.cookie = 'cookiesconsent=ok;path=/;expires='+d.toGMTString(); }; bar.style.display = (allowcookies == 'ok') ? 'none' : 'table'; </script>
</td>
</tr>
</table>
</td>
</tr>
<tr class="menubg">
<td>
<script language="javascript" type="text/javascript">
function HC_KeyBoard_Click()
{
    var oWindow=0;
    if(oWindow)
    {if(!oWindow.closed) oWindow.close(); };
    oWindow = window.open('//atozmath.com/Keyboard.aspx?show=1','Keyboard','status=no,width=520,height=420,resizable=1,scrollbars=1');
    oWindow.focus();
    return false;
}
</script>
<table id="Table1" cellpadding="0" cellspacing="0" width="100%">
<tr class="menubg1">
<td>
<table id="Table2" cellpadding="0" cellspacing="0" width="100%">
<tr class="menubg1">
<td width="25%" valign="middle" align="left">
<a title="AtoZmath.com" href="//atozmath.com">
<img src="//atozmath.com/Style/logonew.jpg" alt="AtoZmath.com" width="100%" />
</a>
</td>
<td valign="top">
<table id="Table3" cellpadding="0" cellspacing="0" width="100%" class="table0">
<tr>
<td>
<table width="100%" border="0">
<tr>
<td align="center" width="50%">
</td>
<td align="center" valign="middle">
<a class="footer1" href="//atozmath.com/Help/SupportUs.aspx" title="Support us">
<font size="4">Support us</font> </a>
</td>
</tr>
</table>
</td>
</tr>
<tr style="display:none">
<td align="center">
<font size="3">
<b><font color="red">(New)</font> All problem can be solved using search box</b>
</font>
</td>
</tr>
<tr>
<td align="center">
<a href="//atozmath.com/Help/Aboutus.aspx">
<font size="2">
<strike>I want to sell my website www.AtoZmath.com with complete code</strike>
</font>
</a>
</td>
</tr>
<tr>
<td align="center">
<a href="Javascript:void(0)" onclick="HC_KeyBoard_Click();" title="Input Help">
<img src="//atozmath.com/IMAGES1/KeyBoard.png" />
</a>
</td>
</tr>
</table>
</td>
<td width="25%" valign="middle" align="center">
<table id="AutoNumber10" style="border-collapse: collapse" cellspacing="0" cellpadding="0" width="100%" border="0">
<tr>
<td align="center">
<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr class="menubg1">
<td align="center" width="100%">
<script language='javascript' type='text/javascript' src='//atozmath.com/Scripts/actb/actb_AZ.js'></script>
<script language='javascript' type='text/javascript' src='//atozmath.com/Scripts/actb/common.js'></script>
<div id="HeaderCtl1_SerarchSolveCtl1_pnlSearch" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;HeaderCtl1_SerarchSolveCtl1_BtnFind&#39;)">
<table id="HeaderCtl1_SerarchSolveCtl1_tblSearch" style="border-collapse: collapse" cellspacing="0" cellpadding="1" border="0" width="90%">
<tr>
<td align="right" width="99%">
<input name="ctl00$HeaderCtl1$SerarchSolveCtl1$txt1" type="text" id="HeaderCtl1_SerarchSolveCtl1_txt1" placeholder="Try our new - Enter problem or search problem" autocomplete="off" onkeyup="return txt1_Keypress2();" style="font-size:Medium;width:99%;" />
</td>
<td align="left">
<input type="image" name="ctl00$HeaderCtl1$SerarchSolveCtl1$BtnFind" id="HeaderCtl1_SerarchSolveCtl1_BtnFind" src="../IMAGES1/Search2.png" onclick="return BtnFind2_Click();" style="height:25px;" />
<input name="ctl00$HeaderCtl1$SerarchSolveCtl1$hQId" type="hidden" id="HeaderCtl1_SerarchSolveCtl1_hQId" />
<div id="HeaderCtl1_SerarchSolveCtl1_divExtraQueOptions" style="display:none"></div>
</td>
</tr>
</table>
</div>
<script language='javascript' type='text/javascript' id='JsLoad'>

var obj2;
function textFilter2()
{
    var customarray=[];
    obj2 = new actb(document.getElementById('HeaderCtl1_SerarchSolveCtl1_txt1'),customarray);
    obj2.actb_delimiter=new Array();
    obj2.actb_startcheck=2;
    obj2.hQId = document.getElementById('HeaderCtl1_SerarchSolveCtl1_hQId');
    obj2.divExtraQueOptions = document.getElementById('HeaderCtl1_SerarchSolveCtl1_divExtraQueOptions');
    obj2.preview=0;
}

function txt1_Keypress2()
{
    var x = document.getElementById('HeaderCtl1_SerarchSolveCtl1_txt1').value;

    if(x!="" && x.length==2)
    {
        $.ajax({
        type: "POST",
        url: "//cbom.atozmath.com/WebMethods.aspx/getProblems",
        data:  '{S2: "' + x + '" }',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(result) {
            //alert(x +" => "+ result);
            var customarray = JSON.stringify(result).split("~");
            obj2.actb_keywords = customarray;

            document.getElementById('HeaderCtl1_SerarchSolveCtl1_BtnFind').focus();
            document.getElementById('HeaderCtl1_SerarchSolveCtl1_txt1').focus();
        },
        failure: function(result) {
            alert("failure : " + final_transcript + "=>" + result);
        }
        });
    }
}

</script>
<script language="javascript" type="text/javascript">
<!--

function BtnFind2_Click()
{
	if(isBlankCtlStr(document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1")))
		return false;

    //relace 1<x<7 to 1< x< 7 because <x gives error
    //document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1").value = document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1").value.replace("<","< ");
    document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1").value = document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1").value.replace(/<([a-zA-Z])/, "< $1");

    var Sq1 = getContentS2();

    //-->Common code
    var SQS = "q1="+ encodeURIComponent(Sq1);
	SQS += "&do=1";
    //<--Common code

	location.href = "//atozmath.com/Default.aspx?"+ SQS;
	return false;
}

function getContentS2()
{
	var SVal = document.getElementById("HeaderCtl1_SerarchSolveCtl1_txt1").value;
	SVal += "`" + document.getElementById("HeaderCtl1_SerarchSolveCtl1_hQId").value;

	return SVal;
}

//to set list
textFilter2();

-->

</script>
</td>
</tr>
<tr class="menubg1">
<td align="right">
<table id="Table2" border="0" cellpadding="0" cellspacing="0" width="90%">
<tr>
<td>
<a class="topmenu5" href="//atozmath.com/default.aspx" title="Home">
Home</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/WhatsNewMenu.aspx" title="What's new">
What's new</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/CollegeAlgebra.aspx" title="College Algebra">
College Algebra</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/GamesMenu.aspx" title="All Available Games">
Games</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Feedback/Feedback.aspx" title="Feedback">Feedback</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Help/Aboutus.aspx" title="About us">
About us</a></td>
</tr>
</table>
</td>
</tr>
<tr bgcolor="#e2f1ff">
<td align="left">
<div align="left" class="menuBarBorder">
<table id="Table1" cellpadding="0" cellspacing="0" width="100%">
<tr bgcolor="#e2f1ff">
<td align="left" colspan="2">
<div align="left" class="menuBarBorder">
<table id="Table3" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/Algebra.aspx" title="Algebra">
Algebra</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/MatrixAlgebra.aspx" title="Matrix & Vector">
Matrix & Vector</a></td>
<td>
 <a class="topmenu5" href="//atozmath.com/Menu/ConmMenu.aspx" title="Numerical Methods">
Numerical Methods</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/StatisticsMenu.aspx" title="Statistical Methods">
Statistical Methods</a></td>
<td>
<a class="topmenu5" href="//cbom.atozmath.com/Menu/CBomMenu.aspx" title="Operation Research">
Operation Research</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/WordingProblems.aspx" title="Word Problems">
Word Problems</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/CalculusMenu.aspx" title="Calculus">
Calculus</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/PlotsGeometry.aspx" title="Geometry">
Geometry</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/PreAlgebra.aspx" title="Pre-Algebra">
Pre-Algebra</a></td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
<script language="javascript" type="text/javascript">
var ServerURL = "//atozmath.com";
</script>
</td>
</tr>
<tr valign="top">
<td>
<table id="top" cellpadding="0" cellspacing="0" class="table0" width="100%">
<tr valign="top">
<td class="menubg" width="2%" valign="top">
<table border="0" cellpadding="1" cellspacing="1" width="301">
<tr>
<td>
<div id='tsNMD'>
<div id='HcdMD'>

<div class="adsbyvli" data-ad-slot="vi_31308698"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_31308698")})</script>

</div>
</div>
</td>
</tr>
<tr>
<td>
</td>
</tr>
<tr>
<td>
<div id='kHwOO'>
<div id='HkYLk' style='background-color: #fff;'>

<div class="adsbyvli" data-ad-slot="vi_31308701"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_31308701")})</script>

</div>
</div>
</td>
</tr>
<tr>
<td>
</td>
</tr>
<tr>
<td>
<div id='KFYzM'>
<div id='iEJoY'>

<div class='adsbyvli' data-ad-slot='vi_31308697' data-width='300' data-height='250'></div> <script> vitag.videoDiscoverConfig = { random: true, noFixedVideo: true}; (vitag.Init = window.vitag.Init || []).push(function () { viAPItag.initInstreamBanner('vi_31308697') });</script>

</div>
</div>
</td>
</tr>
</table>
</td>
<td class="ContentBorder">
<table cellspacing="1" cellpadding="0" width="100%" border="0">
<tbody>
<tr>
<td align="left">

<div class="adsbyvli" data-ad-slot="vi_31308699"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_31308699")})</script>

</td>
</tr>
<tr>
<td>
&nbsp;
<span id="lblAdContent"></span>
<span id="lblError" class="labelError"></span>
</td>
</tr>
<tr>
<td align="left">
<span id="SiteMapPath1"><span><a title="Home" href="/default.aspx">Home</a></span><span> &gt; </span><span><a title="Operation Research calculators" href="/Menu/CBomMenu.aspx">Operation Research calculators</a></span><span> &gt; </span><span>Simplex method calculator</span></span>
</td>
</tr>
<tr>
<td>
<hr />
</td>
</tr>
<tr>
<td id="cph1">
<table id="Table3" cellspacing="0" cellpadding="1" width="100%" border="0">
<tr>
<td align="left">
<script language="javascript" type="text/javascript" src="../Scripts/JSTooltip.js"></script>
<script language="javascript" type="text/javascript" src="../Scripts/GraphPt.js"></script>
<script language="javascript" type="text/javascript">
function BodyLoadAndSetScaleOrignFromMinMax(XMin,XMax,YMin,YMax)
{
    BodyLoad();
    setScaleOrignFromMinMax(XMin,XMax,YMin,YMax);
}
</script>
<script language="javascript">

String.prototype.trim = function() {
    return this.replace(/^\s+|\s+$/g, "");
};

function LLPToTbl()
{
    clearTextarea();

    //replace UnicodeChar eg '-'
	if(isUnicodeCharInCtl(document.getElementById("txtLPP")))
		return false;
    //isUnicodeCharInCtl(document.getElementById("txtLPP"));

	var QStr = document.getElementById("txtLPP").value;
	//alert(QStr);

	//replace some symbols
	QStr = QStr.replace(/≤/g,"<");
	QStr = QStr.replace(/≥/g,">");
	QStr = QStr.replace(/<=/g,"<");
	QStr = QStr.replace(/>=/g,">");
	//QStr = QStr.replace(/ /g,"");
	QStr = QStr.replace(/\(/g,"");
	QStr = QStr.replace(/\)/g,"");

    //replace ',' to new line
	QStr = QStr.replace(/\,/g,"\r\n");

    //remove tab
	QStr = QStr.replace(/\t/g,"");

    //remove ltrim
	QStr = QStr.replace(/ [ ]+/g,'');

	//replace double lines to single line
	QStr = QStr.replace(new RegExp('[\r\n]+','g'), '\r\n');

	//remove starting new line char
	QStr = QStr.replace(new RegExp('^[\r\n]+'), '');

    //if subject keyword is not in new line then add new line
    if(QStr.indexOf("\r\nsub")==-1)
    {
	    QStr = QStr.replace('sub', '\r\nsub');
    }

    //if and keyword is not in new line then add new line
    if(QStr.indexOf("\r\nand")==-1)
    {
	    QStr = QStr.replace('and', '\r\nand');
    }

	disp("11-->"+QStr);

	//convert string to array
    var QA = QStr.toString().split('\r\n');
    disp("22-->"+QA);
    //alert(QA.length);

    var BUnResStr = false;
    var SUnResStr="";
    //-->remove subject to the constraints words and blank lines
    var ISt;
    for(ISt = QA.length-1;ISt>=0;ISt--)//for(ISt = 1;ISt<QA.length;ISt++)
    {
        var SSubjTo = QA[ISt].toLowerCase().trim();
        //disp("SSubjTo:"+ ISt +" = "+SSubjTo.length);
        if(SSubjTo.indexOf("sub")!=-1 || SSubjTo.indexOf("to")!=-1 || SSubjTo.indexOf("the")!=-1 || SSubjTo.indexOf("cons")!=-1 || SSubjTo.length==0)
        {
            QA.splice(ISt, 1);
            //break;
        }
        else if(SSubjTo.indexOf("and")==-1 && isNumberExistsAtAnyPos(SSubjTo)==false)
        {
            //in whole line only chararter exist without any number then remove
            QA.splice(ISt, 1);
        }
        else if(SSubjTo.indexOf("unres")!=-1 || (ISt==QA.length-1 && SSubjTo.indexOf("integer") != -1))
        {
            //only unrestricted value and delete current line
            SUnResStr = QA[ISt];
            QA.splice(ISt, 1);
            BUnResStr = true;
        }
        else if(SSubjTo.indexOf("and")!=-1)
        {
            //remove all element 'and' and its below
            for(var i=QA.length-1;i>=ISt;i--)
            {
                //for all element 'and' and its below in SUnResStr and delete
                SUnResStr = QA[i] +","+ SUnResStr;
                QA.splice(i, 1);
            }
        }
    }
    disp("SUnResStr-->"+SUnResStr);
    disp("33-->"+QA);
    //<--remove subject to the constraints words and blank lines

    //-->unrestricted
    var SVarUnRes="";
    if(BUnResStr)//if(SUnResStr!="")
    {
        //remove space from left and right side of '>' symbol
        SUnResStr = SUnResStr.replace(/[ ]+>[ ]+/g,"\>");

        //replace all 'and' with ',' sign
        SUnResStr = SUnResStr.replace(/and/g,",");

        var ind = SUnResStr.indexOf(">0");
        if(ind!=-1)
            SUnResStr = SUnResStr.substring(ind+3).trim();
        disp("2->SUnResStr-->"+SUnResStr);

//        ind = SUnResStr.indexOf("unres");
//        SUnResStr = SUnResStr.substring(0,ind).trim();
//        disp("1->SUnResStr-->"+SUnResStr);


        //-->now split and join
        var UnResA = SUnResStr.split(',');
        for(var i=0;i<UnResA.length;i++)
        {
            UnResA[i]=UnResA[i].trim();
            if(i==UnResA.length - 1)
                UnResA[i] = UnResA[i].substring(0, UnResA[i].indexOf(' '));

            if(UnResA[i]!="")
            {
                if(SVarUnRes!="")
                    SVarUnRes += ",";

                SVarUnRes += UnResA[i];
            }
        }
        //<--now split and join
        disp("3->SVarUnRes:"+ SVarUnRes + "");
    }
    //<--unrestricted

    //-->objective function
    //-->1.Find Max or Min function
    var SMinMax = "";
    var ObjFunc = QA[0];
    var SInd = ObjFunc.toLowerCase().indexOf("max"); SMinMax = "Max";
    if(SInd==-1)
    {
        SInd = ObjFunc.toLowerCase().indexOf("min"); SMinMax = "Min";
        if(SInd==-1)
        {
            SMinMax = "";
            alert("Error: Please enter Max or Min in objective function");
            return;
        }
    }
    var EInd = ObjFunc.indexOf(" ");
    ObjFunc = ObjFunc.substring(EInd+1).trim();
    disp("ObjFunc:" + ObjFunc);
    //<--1.Find Max or Min function

    //-->2. find Z name
    SInd = ObjFunc.indexOf("=");
    if(SInd==-1)
    {
        alert("Error: Please enter '=' in objective function");
        return;
    }
    var SZ = ObjFunc.substring(0,SInd).trim();
    ObjFunc = ObjFunc.substring(SInd+1).trim();
    disp("SZ:" + SZ);
    disp("ObjFunc:" + ObjFunc);
    //<--2. find Z name

    //-->3. find obj func variables and coefficient
    var SAns = getVariableAndCoefficient(ObjFunc);
    disp("SAns:" + SAns.join(";"));
    var SVar = SAns[0];
    var SCj = SAns[1];
    var Nv = SAns[0].length;
//    disp("SAns.length=" + SAns.length);
//    disp("SAns[0].length=" + SAns[0].length);
    //<--3. find obj func variables and coefficient
    //<--objective function

    //-->constraints
    var Sign = ["<",">","="];
    var SXSign = [],SXb=[];
    var k=0;
    var SXSij = [];
    for(var i = 1; i<QA.length; i++,k++)
    {
        var Constraint = QA[i];

        //-->Find sign and Xb
        for(var j=0;j<Sign.length;j++)
        {
            SInd = Constraint.indexOf(Sign[j]);
            if(SInd!=-1)
            {
                SXSign[k] = Sign[j];
                SXb[k] = Constraint.substring(SInd+1).trim();
                Constraint = Constraint.substring(0,SInd).trim();
                break;
            }
        }
        SAns = getVariableAndCoefficient(Constraint);
        SXSij[k] = arrangeCoeff(SVar,SAns);
        disp("SAns=" + SAns.join(";"));
//    disp("SAns.length=" + SAns.length);
//    disp("SAns[0].length=" + SAns[0].length);
    }
    var Nc = k;
    SXSij = SXSij.join(";")
    //<--constraints


//		Nv=3;
//		Nc=3;
//		SCj = "3,5,4";
//		SXSij = "2,3,0;0,2,5;3,2,4";
//		SXb = "8,10,15";
//		SXSign = "<=,<=,<=";
//		SMinMax = "max";
//      SZ = "Z";
//      SVar = "x1,x2,x3";
//		SVarUnRes = "x1";

    //final sol display
    disp("--------------------------------------");
    disp("Nv:"+ Nv + "; Nc:"+Nc);
    disp("SMinMax:"+SMinMax + "; SZ:"+ SZ + "; SVar:"+ SVar + "; SCj:"+SCj);
    disp("SXSij:"+SXSij + "  SXSign:"+ SXSign + "; SXb:"+SXb);
    disp("SVarUnRes:"+ SVarUnRes + "");
    disp("--------------------------------------");

	//to disp single lpp problem
    //setLLP(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes);

//	//to disp in table format
	setContentS(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes);
}

function arrangeCoeff(SVar,SAns)
{
    var SCoeff = [];
    for(var k=0;k<SVar.length;k++)
    {
        SCoeff[k] = 0;
    }

    for(var j=0;j<SAns[0].length;j++)
    {
        for(var k=0;k<SVar.length;k++)
        {
            if(SAns[0][j]==SVar[k])
            {
               SCoeff[k] = SAns[1][j];
               break;
            }
        }
    }

    return SCoeff;
}

function getVariableAndCoefficient(SPoly)
{
    SPoly = SPoly.replace(/ /g,"");
    //disp(SPoly)

    //1st char is either + or - sign
    if (SPoly.charAt(0) != "+" && SPoly.charAt(0) != "-")
        SPoly = "+"+ SPoly;

	SPoly = SPoly.replace(/\+/g,"~+");
	SPoly = SPoly.replace(/\-/g,"~-");
    //disp(SPoly)

	//convert string to array
    var SPolyA = SPoly.toString().split("~");
    //disp(SPolyA);

    var SVar = [];
    var SCoeff = [];

    for (var i = 1; i < SPolyA.length; i++)
    {
    	SVar[i-1] = /([a-zA-Z].*)/.exec(SPolyA[i])[1];
    	SCoeff[i-1] = SPolyA[i].replace(/[a-zA-Z].*/, '');

        if(SCoeff[i-1] == "+")
            SCoeff[i-1] = "1";
        else if(SCoeff[i-1] == "-")
            SCoeff[i-1] = "-1";

    	SCoeff[i-1] = SCoeff[i-1].replace(/\+/g,"");
    }
    //disp("SVar:"+SVar);
    //disp("SCoeff:"+SCoeff);

    var SAns = [SVar, SCoeff];
    return SAns;
}

function isNumberExistsAtAnyPos(S)
{
	var number = "+-0123456789";

	for(var i=0;i<S.length;i++)
	{
		if(number.indexOf(S.substring(i,i+1)) != -1)
			return true;
	}

	return false;
}

function disp(x)
{
    document.getElementById("txtA").value += x + "\r\n\r\n";
}

function clearTextarea()
{
    document.getElementById("txtA").value="";
}

</script>
<script language="javascript" type="text/javascript">
function setLLP(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes)
{
    var NoOfVari=Nv;
    var NoOfCons=Nc;
    //-->MAX_Z
    var SLPP = SMinMax + " " + SZ + " = ";

	var SCjs = SCj.toString().split(",");
	var SVars = SVar.toString().split(",");

//	for(var j=1;j<=NoOfVari;j++)
//	{
//	    var Coeff = SCjs[j-1];
//	    //if(Coeff!=0)
//	    {
//	        //sign disp
//		    if(Coeff < 0)
//		    {
//		        if(j==1)
//	                SLPP += "-";
//	            else
//	                SLPP += " - ";
//	        }
//	        else if(j > 1 && Coeff>=0)
//	        {
//	            SLPP += " + ";
//	        }
//
//		    Coeff = Math.abs(Coeff);
//		    SLPP += (Coeff!=1 ? Coeff : "") +""+ SVars[j-1];
//		}
//	}

	for(var j=1;j<=NoOfVari;j++)
	{
	    var Coeff = SCjs[j-1].trim();
	    //if(Coeff!=0)
	    {
	        //sign disp
		    if(Coeff.charAt(0) == '-')
		    {
		        if(j==1)
	                SLPP += "-";
	            else
	                SLPP += " - ";

	            Coeff = Coeff.substring(1);
	        }
	        else if(j > 1 && eval(Coeff)>=0)
	        {
	            SLPP += " + ";
                if(Coeff.charAt(0) == '+')
                    Coeff = Coeff.substring(1);
	        }

		    //Coeff = Math.abs(Coeff);
		    SLPP += (Coeff=="1" ? "" : Coeff) +""+ SVars[j-1];
		}
	}

	//<--MAX_Z

    SLPP += "\nsubject to";

    //-->CONTENTS
	var SXSijs = SXSij.toString().split(";");
	var SXbs = SXb.toString().split(",");
	var SXSigns = SXSign.toString().split(",");
	for(var i=1;i<=NoOfCons;i++)
	{
		var SData = SXSijs[i-1].toString().split(",");
		var SConstraint = "";
//		for(var j=1;j<=NoOfVari;j++)
//		{
//	        var Coeff = SData[j-1];
//	        if(Coeff!=0)
//	        {
//	            //sign disp
//		        if(Coeff < 0)
//		        {
//		            if(SConstraint=="")//if(j==1)
//	                    SConstraint += "-";
//	                else
//	                    SConstraint += " - ";
//	            }
//	            else if(SConstraint!="" && Coeff>=0)//else if(j > 1 && Coeff>=0)
//	                SConstraint += " + ";
//
//		        Coeff = Math.abs(Coeff);
//		        SConstraint += (Coeff!=1 ? Coeff : "") +""+ SVars[j-1];
//		    }
//		}

		for(var j=1;j<=NoOfVari;j++)
		{
	        var Coeff = SData[j-1].trim();
	        if(eval(Coeff)!=0)
	        {
	            //sign disp
		        if(Coeff.charAt(0) == '-')
		        {
		            if(SConstraint=="")//if(j==1)
	                    SConstraint += "-";
	                else
	                    SConstraint += " - ";

	                Coeff = Coeff.substring(1);
	            }
	            else if(SConstraint!="" && eval(Coeff)>=0)//else if(j > 1 && Coeff>=0)
	            {
	                SConstraint += " + ";
	                if(Coeff.charAt(0) == '+')
	                    Coeff = Coeff.substring(1);
        	    }
		        //Coeff = Math.abs(Coeff);
		        SConstraint += (Coeff=="1" ? "" : Coeff) +""+ SVars[j-1];
		    }
		}

        SConstraint += " " + SXSigns[i-1];
        SConstraint += " " + SXbs[i-1];

        SLPP += "\n"+SConstraint;
	}
	//<--CONTENTS

    //-->Variables and Unrestricted variable message
    var S1="",S2="";
    var SVarUnRess = SVarUnRes.toString().split(",");
    for(i=0;i<SVars.length;i++)
    {
        var BFlg=false;
        for(j=0;j<SVarUnRess.length;j++)
        {
            if(SVars[i]==SVarUnRess[j])
            {
                BFlg=true;
                break;
            }
        }
        if(BFlg==false)
        {
            if(S1!="")
                S1 += ",";
            S1 += SVars[i];
        }
        else
        {
            if(S2!="")
                S2 += ",";
            S2 += SVars[i];
        }
    }
    SLPP += "\n";

    var SUnResOrIntMsg = "unrestricted in sign";
    if(document.getElementById("ContentPlaceHolder1_hMethod").value=="is")
        SUnResOrIntMsg = "non-negative integers";

    if(S1!="")
        SLPP += "and "+S1+ " >= 0 "

    if(S2!="")
        SLPP += "and "+S2+" "+SUnResOrIntMsg;
   //<--Variables and Unrestricted variable message

    disp(SLPP);
    document.getElementById("txtLPP").value = SLPP;
}
    </script>
<script language="javascript" type="text/javascript">
<!--
function BtnGenerate_onclick()
{
	if(isVariConsValid())
	{
		GenerateTable();
	}
}

function GenerateTable()
{
	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);

    //alert(vMinMax);
	//-->MAX_Z
	var S = "<TABLE id=Table2 cellSpacing=1 cellPadding=1 border=0>";
	S += "<TR>";
	S += "<TD><select id='ddlMinMax' onchange='ddlMinMax_change();TblToLLP_change();'><OPTION selected>Max</OPTION><OPTION>Min</OPTION></select>";
	//S += " <span id='divSZ'>"+ getInnerHTML("divSZ") +"</span> = </TD>";
	S += " <span id='divSZ'>"+ "Z" +"</span> = </TD>";

	for(j=1;j<=NoOfVari;j++)
	{
		//S += "<TD><INPUT id='txtCj"+j+"' value='"+ getValue("txtCj"+j) +"' onchange='TblToLLP();' onkeypress=doClick('BtnFind',event) type='text' size='2'></TD>";
		S += "<TD><INPUT id='txtCj"+j+"' value='"+ getValue("txtCj"+j) +"' onchange='TblToLLP_change();' type='text' size='2'></TD>";

		//S += "<TD>X<SUB>"+ j +"</SUB>";
		S += "<TD><span id='divCj"+ j +"'>X<SUB>"+ j +"</SUB></span>";
		if(j<NoOfVari)
			S += " + ";
		S += "</TD>";

	}
	S += "</TR>";
	S += "</TABLE>";
	//<--MAX_Z


	//-->CONTENTS
	var SConTbl = "<TABLE id=Table2 cellSpacing=1 cellPadding=1 border=0>";
	for(i=1;i<=NoOfCons;i++)
	{
		SConTbl += "<TR>";
		for(j=1;j<=NoOfVari;j++)
		{
			//SConTbl += "<TD><INPUT id='txtXSij_"+i+"_"+j+"' value='"+ getValue("txtXSij_"+i+"_"+j) +"' onchange='TblToLLP();' onkeypress=doClick('BtnFind',event)  type='text' size='2'></TD>";
			SConTbl += "<TD><INPUT id='txtXSij_"+i+"_"+j+"' value='"+ getValue("txtXSij_"+i+"_"+j) +"' onchange='TblToLLP_change();' type='text' size='2'></TD>";

		    //SConTbl += "<TD>X<SUB>"+ j +"</SUB>";
		    SConTbl += "<TD><span id='divXSij_"+i+"_"+j+"'>X<SUB>"+ j +"</SUB></span>";
		    if(j<NoOfVari)
			    SConTbl += " + ";
		    SConTbl += "</TD>";
		}


		//SConTbl += "<TD><SELECT id='ddlXSign"+i+"'><OPTION selected>&lt;=</OPTION><OPTION>&gt;=</OPTION><OPTION>=</OPTION></SELECT></TD>";
        //-->COMMENT AND NEWCODE ON 27-02-10
		var abc = 'ddlXSign'+i+'';
		var control = findObj(abc, document);
		if(control != null && document.getElementById('ddlXSign'+i+'').selectedIndex!=-1)
		{
		    //alert(document.getElementById('ddlXSign'+i+'').selectedIndex);
            if(document.getElementById('ddlXSign'+i+'').options[document.getElementById('ddlXSign'+i+'').selectedIndex].text == ">=")
		        SConTbl += "<TD><SELECT id='ddlXSign"+i+"' onchange='TblToLLP_change();'><OPTION>&lt;=</OPTION><OPTION selected>&gt;=</OPTION><OPTION>=</OPTION></SELECT></TD>";
            else if(document.getElementById('ddlXSign'+i+'').options[document.getElementById('ddlXSign'+i+'').selectedIndex].text == "=")
		        SConTbl += "<TD><SELECT id='ddlXSign"+i+"' onchange='TblToLLP_change();'><OPTION>&lt;=</OPTION><OPTION>&gt;=</OPTION><OPTION selected>=</OPTION></SELECT></TD>";
            else //if(document.getElementById('ddlXSign'+i+'').options[document.getElementById('ddlXSign'+i+'').selectedIndex].text == "<=")
		        SConTbl += "<TD><SELECT id='ddlXSign"+i+"' onchange='TblToLLP_change();'><OPTION selected>&lt;=</OPTION><OPTION>&gt;=</OPTION><OPTION>=</OPTION></SELECT></TD>";
        }
        else
        {
            SConTbl += "<TD><SELECT id='ddlXSign"+i+"' onchange='TblToLLP_change();'><OPTION selected>&lt;=</OPTION><OPTION>&gt;=</OPTION><OPTION>=</OPTION></SELECT></TD>";
        }
        //<--COMMENT AND NEWCODE ON 27-02-10

		//SConTbl += "<TD><INPUT id='txtXb"+i+"' value='"+ getValue("txtXb"+i) +"' onchange='TblToLLP();' onkeypress=doClick('BtnFind',event)  type='text' size='2'></TD>";
		SConTbl += "<TD><INPUT id='txtXb"+i+"' value='"+ getValue("txtXb"+i) +"' onchange='TblToLLP_change();' type='text' size='2'></TD>";
		SConTbl += "</TR>";
	}
	SConTbl += "</TABLE>";
	//<--CONTENTS

    //-->all variables and unrestricted variable with temperary values x1,x2,x3 set, that changed to original in setContentS()
	var SAllVar="";
	var SVarUnRes="";
	for(j=1;j<=NoOfVari;j++)
	{
			SAllVar += "x"+ j +"";
            //SVarUnRes += "<INPUT id='chkX"+j+"' value='"+ getValue("chkX"+j) +"' type='checkbox'>";
            SVarUnRes += "<INPUT id='chkX"+j+"' onclick='chkVarUnResClick()' type='checkbox'>" + "x"+ j +"";;
			if(j<NoOfVari)
			{
				SAllVar += ",";
				SVarUnRes += ",";
			}
	}
	var divVar = "<span id='divVar'>"+ SAllVar +"</span>";//only for display, not for getting value
	var divVarUnRes = "<span id='divVarUnRes'>"+ SVarUnRes +"</span>";//only for display, not for getting value
	//var divAllVar = "<span id='divAllVar'>"+ SAllVar +"</span>";
	var divAllVar = "<INPUT id='divAllVar' type='hidden' value='"+ SAllVar +"'>";//div to hidden converted, because ',' is conveted to unicode in div
    //<--all variables and unrestricted variable with temperary values x1,x2,x3 set, that changed to original in setContentS()


    var SUnResOrIntMsg = "unrestricted in sign";
    if(document.getElementById("ContentPlaceHolder1_hMethod").value=="is")
        SUnResOrIntMsg = "non-negative integers";

	var FinalTable = "<TABLE id=Table2 cellSpacing=1 cellPadding=1 width=100% border=0>";
	FinalTable += "<TR><td>"+ S +"</td></TR>";
	FinalTable += "<TR><td> Subject to constraints </td></TR>";
	FinalTable += "<TR><td>"+ SConTbl +"</td></TR>";
    //-->old code
	//FinalTable += "<TR><td> and "+ divVar +" >= 0 and "+ SUnResOrIntMsg +" "+ divVarUnRes +"</td></TR>";
    //<--old code

    //-->new code for unrestricted variable display or hide for some methods
	var SMethod = document.getElementById("ContentPlaceHolder1_hMethod").value;
	var SDisplay = "none";
	if(SMethod=="sm" || SMethod=="bm" || SMethod=="is" || SMethod=="pd" || SMethod=="bb" || SMethod=="01")
    	SDisplay = "inline";

	FinalTable += "<TR><td> and "+ divVar +" >= 0 ";
	FinalTable += "<unres style='display:"+ SDisplay +"'>and "+ SUnResOrIntMsg +" "+ divVarUnRes +"</unres>";
	FinalTable += "</td></TR>";
    //<--new code for unrestricted variable display or hide for some methods

	FinalTable += "<TR style='display:none'><td>"+ divAllVar +"</td></TR>";
	FinalTable += "</TABLE>";

	document.getElementById('lblData').innerHTML = FinalTable;
}


function setTr12()
{
    var BTr12 = (document.getElementById("ContentPlaceHolder1_ddlFind").selectedIndex<=3);

    document.getElementById("tr1").style.display = 'none';
    document.getElementById("tr2").style.display = 'none';
	//var SMethod = document.getElementById("ContentPlaceHolder1_hMethod").value;
	//alert(BTr12 + "," + SMethod);
	if(BTr12)
    {
        document.getElementById("tr1").style.display = '';
        document.getElementById("tr2").style.display = '';
    }
}

function ddlMinMax_change()
{
    var BMinToMax = (document.getElementById('ddlMinMax').selectedIndex==1);
    //alert(BMinToMax);
    //document.getElementById("ContentPlaceHolder1_chkMinToMax").checked = BMinToMax;

	var SMethod = document.getElementById("ContentPlaceHolder1_hMethod").value;
	if(SMethod=="sm" || SMethod=="bm" || SMethod=="tp" || SMethod=="is")
    {
        if(BMinToMax==true)
            document.getElementById("trMinToMax").style.display = '';
        else
            document.getElementById("trMinToMax").style.display = 'none';
    }
}
function chkVarUnResClick()
{
	var SAllVars = getAllVar().toString().split(",");

    //alert("chkVarUnResClick");
	var SVar="";
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);
	for(var j=1;j<=NoOfVari;j++)
	{
	    if(document.getElementById('chkX'+j).checked==false)
	    {
		    if(SVar!="")
		    {
			    SVar += ",";
		    }
		    //SVar += "x"+ j +"";
		    SVar += SAllVars[j-1];
		}
	}
	//alert(SVar);

    if(document.getElementById("ContentPlaceHolder1_hMethod").value!="is")//in integer simplex all variable >=0
    	document.getElementById("divVar").innerHTML = SVar;

    TblToLLP();
}

function TblToLLP_change()
{
    TblToLLP();
}

function TblToLLP()
{
    if(!setHiddenVal())
        return false;

    var Nv = document.getElementById('ContentPlaceHolder1_hNv').value;
    var Nc = document.getElementById('ContentPlaceHolder1_hNc').value;
    var SMinMax = document.getElementById('ContentPlaceHolder1_hMinMax').value;
    var SZ = document.getElementById('ContentPlaceHolder1_hZ').value;
    var SVar = document.getElementById('ContentPlaceHolder1_hVar').value;
    var SCj = document.getElementById('ContentPlaceHolder1_hCj').value;
    var SXSij = document.getElementById('ContentPlaceHolder1_hXSij').value;
    var SXSign = document.getElementById('ContentPlaceHolder1_hXSign').value;
    var SXb = document.getElementById('ContentPlaceHolder1_hXb').value;
    var SVarUnRes = document.getElementById('ContentPlaceHolder1_hVarUnRes').value;
    //var SMode = document.getElementById('ContentPlaceHolder1_hMode').value;

    //to disp single lpp problem
    setLLP(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes);
}

function ddlFind_change()
{
    if(!setHiddenVal())
        return false;

    var Sq1 = document.getElementById('ContentPlaceHolder1_hq1').value;

    //-->Common code
    var SQS = "q="+ document.getElementById('ContentPlaceHolder1_ddlFind').value;
    var m1=document.getElementById('ContentPlaceHolder1_ddlFind').value;
    var m2=document.getElementById('ContentPlaceHolder1_hMethod').value;
    if((m1=='sm' && m2=='tp') || (m1=='tp' && m2=='sm'))
    {
        SQS += "&q1="+ encodeURIComponent(Sq1);

        SQS += "&do=0";
    }
    //<--Common code

    if(PostbackMethodUsed(SQS))
        return true;

    displayProgress(document.getElementById("ContentPlaceHolder1_UpdateProgress1"));
    location.href = getURL("Simplex.aspx?"+ SQS);
    return false;
}

function BtnFind_Click()
{
    if(!setHiddenVal(true))
        return false;

    var Sq1 = document.getElementById('ContentPlaceHolder1_hq1').value;

    //-->Common code
    var SQS = "q="+ document.getElementById('ContentPlaceHolder1_hMethod').value;
    SQS += "&q1="+ encodeURIComponent(Sq1);

    //<--Common code

    document.cookie = 'r2=2';
    SQS += "&do=1";
    if(PostbackMethodUsed(SQS))
        return true;

    displayProgress(document.getElementById("ContentPlaceHolder1_UpdateProgress1"));
    location.href = getURL("Simplex.aspx?"+ SQS);
    return false;
}

function setHiddenVal(BConstraintDelete)
{
	if(!isInputValid(BConstraintDelete))
		return false;

	//var Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes="";

	var Nv = document.getElementById("txtNoOfVari").value;
	var Nc = document.getElementById("txtNoOfCons").value;
	var SMinMax = getMinMax();//"Max";
	var SZ = getSZ();//"Z";
	var SVar = getAllVar();//"x1,x2,x3";
	var SCj = getCj();//"-15,-10";
	var SXSij = getXSij();//"-3,-5;-5,-2";
	var SXSign = getXSign();//"<=,<=";
	var SXb = getXb();//"-5,-3";
	var SVarUnRes = getUnResVar();//"x1";
	var SMode = getSMode(); //F/D
	//Dual_Simp(Nv,Nc,SCj, SXSij, SXb, SXSign,SMinMax);
	//alert(SVarUnRes);

    var BMinToMax = document.getElementById("ContentPlaceHolder1_chkMinToMax").checked;
    //var BZjMinusCj = document.getElementById("ContentPlaceHolder1_chkZjMinusCj").checked;
    var BZjMinusCj = document.getElementById("ContentPlaceHolder1_ddlZjMinusCj").value;

    var BMultipleSol = document.getElementById("ContentPlaceHolder1_chkMultipleSol").checked;
    var BArtificialColRemove = document.getElementById("ContentPlaceHolder1_chkArtificialColRemove").checked;
    var BTooltip = document.getElementById("ContentPlaceHolder1_chkTooltip").checked;
    var BHighlight = document.getElementById("ContentPlaceHolder1_chkHighlight").checked;
    var BSubtractionSteps = document.getElementById("ContentPlaceHolder1_chkSubtractionSteps").checked;

    document.getElementById('ContentPlaceHolder1_hNv').value = Nv;
    document.getElementById('ContentPlaceHolder1_hNc').value = Nc;
    document.getElementById('ContentPlaceHolder1_hMinMax').value = SMinMax;
    document.getElementById('ContentPlaceHolder1_hZ').value = SZ;
    document.getElementById('ContentPlaceHolder1_hVar').value = SVar;
    document.getElementById('ContentPlaceHolder1_hCj').value = SCj;
    document.getElementById('ContentPlaceHolder1_hXSij').value = SXSij;
    document.getElementById('ContentPlaceHolder1_hXSign').value = SXSign;
    document.getElementById('ContentPlaceHolder1_hXb').value = SXb;
    document.getElementById('ContentPlaceHolder1_hVarUnRes').value = SVarUnRes;
    document.getElementById('ContentPlaceHolder1_hMode').value = SMode;

    document.getElementById('ContentPlaceHolder1_hq1').value = Nv + "`" + Nc + "`" + SMinMax + "`" + SZ + "`" + SVar + "`" + SCj + "`" + SXSij + "`" + SXSign + "`" + SXb + "`" + SVarUnRes + "`" + SMode + "`" + BMinToMax + "`" + BZjMinusCj + "`" + BMultipleSol + "`" + BArtificialColRemove + "`" + BTooltip + "`" + BHighlight + "`" + BSubtractionSteps;
	//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb`SVarUnRes`SMode`"
    //BMinToMax`BZjMinusCj`BMultipleSol`BArtificialColRemove`BTooltip`BHighlight`BSubtractionSteps

    return true;
}

function getMinMax()
{
	//return document.getElementById('ddlMinMax').options[document.getElementById('ddlMinMax').selectedIndex].text.toUpperCase();
	if(document.getElementById('ddlMinMax').selectedIndex==1)
	    return "MIN";

	return "MAX";
}

function getSZ()
{
//    var S1 = '<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Z</font></font>';
//    var S2 = S1.replace(/<.*?>/g,"");
//    //alert(S1+", "+S2)
//    alert(S2)

    var S1 = document.getElementById("divSZ").innerHTML;
    var S2 = S1.replace(/<.*?>/g,"");
	return S2;
}

function getAllVar()
{
//	return document.getElementById("divAllVar").innerHTML;

    var S1 = document.getElementById("divAllVar").value;
    var S2 = S1.replace(/<.*?>/g,"");//remove <tags>
    S2 = S2.replace(/ /g,"");//remove space
	return S2;
}

function getCj()
{
	var S = "";
	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);

	for(j=1;j<=NoOfVari;j++)
	{
		S += removeComma(document.getElementById('txtCj'+j+'').value);
		if(j<NoOfVari)
			S += ",";
	}

	return S;
}

function getXSij()
{
	var S = "";
	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);

	for(i=1;i<=NoOfCons;i++)
	{
		for(j=1;j<=NoOfVari;j++)
		{
			S += removeComma(document.getElementById("txtXSij_"+i+"_"+j+"").value);
			if(j<NoOfVari)
				S += ",";
		}
		if(i<NoOfCons)
			S += ";"
	}

	return S;
}

function getXSign()
{
	var S = "";
	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);

	//Select1.selectedIndex
	for(i=1;i<=NoOfCons;i++)
	{
		//S += document.getElementById('ddlXSign'+i+'').selectedIndex;
		//S += document.getElementById('ddlXSign'+i+'').options[document.getElementById('ddlXSign'+i+'').selectedIndex).value;
		S += document.getElementById('ddlXSign'+i+'').options[document.getElementById('ddlXSign'+i+'').selectedIndex].text;

		if(i<NoOfCons)
			S += ",";
	}
	S = S.replace(/ /g,"");

	return S;
}

function getXb()
{
	var S = "";
	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);

	for(i=1;i<=NoOfCons;i++)
	{
		S += removeComma(document.getElementById('txtXb'+i+'').value);
		if(i<NoOfCons)
			S += ",";
	}

	return S;
}

function getUnResVar()
{
	var SAllVars = getAllVar().toString().split(",");

	var SVarUnRes="";
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);
	for(var j=1;j<=NoOfVari;j++)
	{
	    if(document.getElementById('chkX'+j).checked==true)
	    {
		    if(SVarUnRes!="")
		    {
			    SVarUnRes += ",";
		    }
		    //SVarUnRes += "x"+ j;
		    SVarUnRes += SAllVars[j-1];
		}
	}
	//alert(SVarUnRes);
	return SVarUnRes;
}

function getSMode()
{
	return document.getElementById('ContentPlaceHolder1_ddlMode').value;
}

function isVariConsValid()
{
	if(isBlankOrNotNumberCtl(document.getElementById("txtNoOfVari"))
	|| isCtlValNotBetween(document.getElementById("txtNoOfVari"),1,50)
	)
		return false;

	if(isBlankOrNotNumberCtl(document.getElementById("txtNoOfCons"))
	|| isCtlValNotBetween(document.getElementById("txtNoOfCons"),1,50)
	)
		return false;

	return true;
}

function isInputValid(BConstraintDelete)
{
	if(typeof(BConstraintDelete) == "undefined") //because Extras passed in isNumber() and passed undefined if not passed by user
	    BConstraintDelete = false;

	if(!isVariConsValid())
		return false;

	var NoOfCons = eval(document.getElementById("txtNoOfCons").value);
	var NoOfVari = eval(document.getElementById("txtNoOfVari").value);
	var i,j;

    if(NoOfVari == 0)
    {
	    alert("Please enter variables");
	    document.getElementById("txtNoOfVari").focus();
		return false;
    }
    if(NoOfCons == 0)
    {
	    alert("Please enter constraints value");
	    document.getElementById("txtNoOfCons").focus();
		return false;
    }

	if(document.getElementById('ddlMinMax').selectedIndex==-1)
	{
	    LLPToTbl();
    }

	if(document.getElementById('ddlMinMax').selectedIndex==-1)
	{
	    alert("Please select either min or max")
	    document.getElementById('ddlMinMax').focus();
		return false;
    }

	var SMethod = document.getElementById("ContentPlaceHolder1_ddlFind").value;
	if(SMethod=="gm" && NoOfVari != 2)
	{
        alert("Please enter only 2 variables, for graphical method");
        document.getElementById("txtNoOfVari").focus();
	    return false;
	}

	//-->Cj VALIDATION
	//var SCj = getCj();//"-15,-10";
	for(j=1;j<=NoOfVari;j++)
	{
		if(isBlank(document.getElementById('txtCj'+j).value))
		    document.getElementById('txtCj'+j).value="0";
		else if(document.getElementById('txtCj'+j).value=='-')
		    document.getElementById('txtCj'+j).value="-1";

		//S += document.getElementById('txtCj'+j+'').value;
		if(isBlankOrNotNumberCtl(document.getElementById('txtCj'+j)))
			return false;

	}
	//<--Cj VALIDATION


	//-->XSij VALIDATION
	//var SXSij = getXSij();//"-3,-5;-5,-2";
	for(i=1;i<=NoOfCons;i++)
	{
	    var ZeroCnt=0;
		for(j=1;j<=NoOfVari;j++)
		{
			if(isBlank(document.getElementById("txtXSij_"+i+"_"+j+"").value))
			    document.getElementById("txtXSij_"+i+"_"+j+"").value="0";
			else if(document.getElementById("txtXSij_"+i+"_"+j+"").value=='-')
			    document.getElementById("txtXSij_"+i+"_"+j+"").value="-1";

			//S += document.getElementById('txtXSij'+i+''+j+'').value;
			if(isBlankOrNotNumberCtl(document.getElementById("txtXSij_"+i+"_"+j+"")))
				return false;

			if(eval(document.getElementById("txtXSij_"+i+"_"+j+"").value)==0)
			    ZeroCnt++;
		}

		//constraint with all coeff zeros
		if(BConstraintDelete && ZeroCnt==NoOfVari)
		{
		    //alert("Constraint: "+ i +", is blank, so either enter value or remove this");
		    var SMsg = "Constraint: "+ i +", is blank, So are you sure to remove constraint: "+ i +"";
		    if(i<NoOfCons)
		        SMsg = "Constraint: "+ i +", is blank, So are you sure to remove constraint: "+ i +" to constraint: "+ NoOfCons +"";

		    if(confirm(SMsg))
		    {
		        document.getElementById("txtNoOfCons").value = i-1;
		        BtnGenerate_onclick();
		        TblToLLP();
		    }
		    else
		    {
		        document.getElementById("txtXSij_"+i+"_"+1+"").focus();
		        document.getElementById("txtXSij_"+i+"_"+1+"").select();
		    }
		    return false;
		}
		//1

		if(document.getElementById("ddlXSign"+i).selectedIndex==-1)
	    {
	        alert("Please select sign")
	        document.getElementById("ddlXSign"+i).focus();
		    return false;
        }

	}
	//<--XSij VALIDATION

	//-->Xb VALIDATION
	//var SXb = getXb();//"-5,-3";
	for(i=1;i<=NoOfCons;i++)
	{
		if(isBlank(document.getElementById('txtXb'+i).value))
		    document.getElementById('txtXb'+i).value="0";
		else if(document.getElementById('txtXb'+i).value=='-')
		    document.getElementById('txtXb'+i).value="-1";

		//S += document.getElementById('txtXb'+i+'').value;
		if(isBlankOrNotNumberCtl(document.getElementById('txtXb'+i)))
			return false;
	}
	//<--Xb VALIDATION

	//-->XSign VALIDATION
	//var SXSign = getXSign();//"<=,<=";
	//<--XSign VALIDATION

	//-->MinMax VALIDATION
	//var SMinMax = getMinMax();//"Max";
	//<--MinMax VALIDATION

	if(document.getElementById('ContentPlaceHolder1_ddlMode').value=="")
	{
	    document.getElementById('ContentPlaceHolder1_ddlMode').value="D";
    }

    if(NoOfCons < 1)
    {
	    alert("Please enter more than 1 constraints");
	    document.getElementById("txtNoOfCons").focus();
		return false;
    }

	return true;
}

//-->
    </script>
<script language="javascript" type="text/javascript">
	<!--
function setRandomTryThisValue(SDef)
{
    var SValA = SDef.split("`");
    if(SValA.length < 2) //to stop google error
    {
        RndClick();
        return;
    }

	var Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes="";

    Nv=SValA[0];
    Nc=SValA[1];
    SMinMax=SValA[2];
    SZ=SValA[3];
    SVar=SValA[4];
    SCj=SValA[5];
    SXSij=SValA[6];
    SXSign=SValA[7];
    SXb=SValA[8];

    if(SValA.length>=10)
        SVarUnRes=SValA[9];

	//to disp in table format
	setContentS(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes);
	//to disp single lpp problem
	setLLP(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes);

    if(SValA.length>=11)
    {
        document.getElementById('ContentPlaceHolder1_ddlMode').value=SValA[10];
    }

    if(SValA.length>=12)
    {
        if(SValA.length>=12)
        document.getElementById("ContentPlaceHolder1_chkMinToMax").checked = eval(SValA[11]);

//        if(SValA.length>=13)
//        document.getElementById("ContentPlaceHolder1_chkZjMinusCj").checked = eval(SValA[12]);
        if(SValA.length>=13)
        document.getElementById("ContentPlaceHolder1_ddlZjMinusCj").value = eval(SValA[12]);

        if(SValA.length>=14)
        document.getElementById("ContentPlaceHolder1_chkMultipleSol").checked = eval(SValA[13]);
        if(SValA.length>=15)
        document.getElementById("ContentPlaceHolder1_chkArtificialColRemove").checked = eval(SValA[14]);
        if(SValA.length>=16)
        document.getElementById("ContentPlaceHolder1_chkTooltip").checked = eval(SValA[15]);
        if(SValA.length>=17)
        document.getElementById("ContentPlaceHolder1_chkHighlight").checked = eval(SValA[16]);
        if(SValA.length>=18)
        document.getElementById("ContentPlaceHolder1_chkSubtractionSteps").checked = eval(SValA[17]);
    }
}

function RndClick()
{
	//var Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes;
	//var SMethod = document.getElementById("ContentPlaceHolder1_hMethod").value;
	var SMethod = document.getElementById("ContentPlaceHolder1_ddlFind").value;
	//alert(SMethod)
    var SDefVal = "";
	if(SMethod=="sm" || SMethod=="bm")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"
        SDefVal += "" + "3`3`max`Z`x1,x2,x3`3,5,4`2,3,0;0,2,5;3,2,4`<=,<=,<=`8,10,15`";
        SDefVal += "~" + "3`3`max`Z`x1,x2,x3`5,10,8`3,5,2;4,4,4;2,4,5`<=,<=,<=`60,72,100`";
        SDefVal += "~" + "2`4`max`Z`x1,x2`4,3`2,1;1,1;1,0;0,1`<=,<=,<=,<=`1000,800,400,700`";
        SDefVal += "~" + "2`2`min`Z`x1,x2`1,1`2,4;1,7`>=,>=`4,7`";
        SDefVal += "~" + "2`2`min`Z`x1,x2`600,500`2,1;1,2`>=,>=`80,60`";
        SDefVal += "~" + "2`3`min`Z`x1,x2`5,3`2,4;2,2;5,2`<=,=,>=`12,10,10`";
        SDefVal += "~" + "4`3`max`Z`x1,x2,x3,x4`1,2,3,-1`1,2,3,0;2,1,5,0;1,2,1,1`=,=,=`15,20,10`";
        SDefVal += "~" + "2`2`max`Z`x1,x2`3,9`1,4;1,2`<=,<=`8,4`"; //Degeneracy
        SDefVal += "~" + "3`2`max`Z`x1,x2,x3`3,2,1`2,5,1;3,4,0`=,=`12,11`x1"; //Unrestricted variable Sol (Sol: MaxZ = 48) //Done
        SDefVal += "~" + "4`2`max`Z`x1,x2,x3,x4`3,3,2,1`2,2,5,1;3,3,4,0`=,=`12,11`";
        SDefVal += "~" + "2`3`max`Z`x1,x2`6,4`2,3;3,2;1,1`<=,<=,>=`30,24,3`";//Multiple
        SDefVal += "~" + "2`3`max`Z`x1,x2`3,5`1,-2;1,0;0,1`<=,<=,>=`6,10,1`";//Unbounded
        SDefVal += "~" + "2`2`max`Z`x1,x2`6,4`1,1;0,1`<=,>=`5,8`";//Infeasible
        SDefVal += "~" + "2`2`max`Z`x1,x2`6,4`-1,-1;0,1`>=,>=`-5,8`";//Infeasible Sol

	}
	else if(SMethod=="tp")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"
        SDefVal += "" + "2`2`min`z`x1,x2`1,1`2,1;1,7`>=,>=`4,7`";
	    SDefVal += "~" + "3`2`min`z`x1,x2,x3`5,2,10`1,0,-1;0,1,1`<=,>=`10,10`";
	    SDefVal += "~" + "2`3`max`z`x1,x2`5,8`3,2;1,4;1,1`>=,>=,<=`3,4,5`";
	    SDefVal += "~" + "2`2`min`z`x1,x2`3,5`2,8;3,4`>=,>=`40,50`";
	    SDefVal += "~" + "3`3`max`z`x1,x2,x3`3,2,2`5,7,4;-4,7,5;3,4,-6`<=,>=,>=`7,-2,29/7`";
        SDefVal += "~" + "3`2`min`z`x1,x2,x3`1,-2,-3`-2,1,3;2,3,4`=,=`2,1`";
    }
	else if(SMethod=="ds")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"
        SDefVal += "" + "3`2`min`z`x1,x2,x3`2,3,0`2,-1,-1;1,-1,1`>=,>=`3,2`";
        SDefVal += "~" + "2`2`max`Z`x1,x2`-15,-10`-3,-5;-5,-2`<=,<=`-5,-3`";
        SDefVal += "~" + "2`3`max`Z`x1,x2`-2,-1`-3,-1;-4,-3;-1,-2`<=,<=,<=`-3,-6,-3`";

    }
	else if(SMethod=="is")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"
        SDefVal += "" + "2`2`max`Z`x1,x2`1,1`3,2;0,1`<=,<=`5,2`x1,x2";
        SDefVal += "~" + "3`2`max`Z`x1,x2,x3`2,20,-10`2,20,4;6,20,4`<=,=`15,20`x1,x2,x3";

        SDefVal += "~" + "2`2`max`Z`x1,x2`3,12`2,4;5,3`<=,<=`7,15`x1,x2";
        SDefVal += "~" + "3`3`max`Z`x1,x2,x3`-3,1,3`-1,2,1;0,2,-3/2;1,-3,2`<=,<=,<=`4,1,3`x3";
        SDefVal += "~" + "2`2`max`Z`x1,x2`1,1`3,2;0,1`<=,<=`5,2`x1";
    }
	else if(SMethod=="gm")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"
        SDefVal += "" + "2`3`max`z`x1,x2`-2,-1`-3,-1;-4,-3;-1,-2`<=,<=,<=`-3,-6,-3`";
        SDefVal += "~" + "2`3`max`z`x1,x2`15,10`4,6;3,0;0,5`<=,<=,<=`360,180,200`";
        SDefVal += "~" + "2`4`max`z`x1,x2`2,1`1,2;1,1;1,-1;1,-2`<=,<=,<=,<=`10,6,2,1`";
        SDefVal += "~" + "2`2`max`z`x1,x2`-1,2`1,-1;-0.5,1`<=,<=`-1,2`";
        SDefVal += "~" + "2`3`max`z`x1,x2`40,80`2,3;1,0;0,1`<=,<=,<=`48,15,10`";
        SDefVal += "~" + "2`3`max`z`x1,x2`60,40`1,0;0,1;2,1`<=,<=,<=`25,35,60`";
        SDefVal += "~" + "2`3`min`z`x1,x2`3,2`5,1;1,1;1,4`>=,>=,>=`10,6,12`";
        SDefVal += "~" + "2`3`min`z`x1,x2`600,400`3,3;3,1;2,5`>=,>=,>=`40,40,44`";
        SDefVal += "~" + "2`3`min`z`x1,x2`4,3`200,100;1,2;40,40`>=,>=,>=`4000,50,1400`";
        SDefVal += "~" + "2`3`min`z`x1,x2`-1,2`-1,3;1,1;1,-1`<=,<=,<=`10,6,2`";
        SDefVal += "~" + "2`2`max`z`x1,x2`-15,-10`-3,-5;-5,-2`<=,<=`-5,-3`";
        SDefVal += "~" + "2`2`max`z`x1,x2`600,500`2,1;1,2`>=,>=`80,60`";
        SDefVal += "~" + "2`2`max`z`x1,x2`3,2`1,-1;1,1`>=,>=`1,3`";
        SDefVal += "~" + "2`2`max`z`x1,x2`5,4`1,-2;1,2`<=,>=`1,3`";
        SDefVal += "~" + "2`2`max`z`x1,x2`-4,3`1,-1;1,0`<=,<=`0,4`";
        SDefVal += "~" + "2`2`max`z`x1,x2`3,4`1,-1;-1,1`=,<=`-1,0`";
        SDefVal += "~" + "2`2`max`z`x1,x2`6,-4`2,4;4,8`<=,>=`4,16`";
        SDefVal += "~" + "2`4`max`z`x1,x2`1,1/2`3,2;5,0;1,1;-1,1`<=,=,>=,>=`12,10,8,4`";
        SDefVal += "~" + "2`2`max`z`x1,x2`3,2`-2,3;3,-2`<=,<=`9,-20`";

    }
	else if(SMethod=="pd")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb`SVarUnRes"

        SDefVal += "" + "3`3`max`z`x1,x2,x3`1,-1,3`1,1,1;2,-1,-1;2,-2,-3`<=,<=,<=`10,2,6`";
        SDefVal += "~" + "3`5`min`z`x1,x2,x3`3,-2,4`3,5,4;6,1,3;7,-2,-1;1,-2,5;4,7,-2`>=,>=,<=,>=,>=`7,4,10,3,2`";
        SDefVal += "~" + "2`3`min`z`x1,x2`1,2`2,4;1,-1;1,0`<=,=,>=`160,30,10`";
        SDefVal += "~" + "3`3`min`z`x1,x2,x3`1,-3,-2`3,-1,2;2,-4,0;-4,3,8`<=,>=,=`7,12,10`x3";
        SDefVal += "~" + "3`2`max`z`x1,x2,x3`1,-2,3`-2,1,3;2,3,4`=,=`2,1`";
        SDefVal += "~" + "4`2`max`z`x1,x2,x3,x4`3,1,2,-1`2,-1,3,1;1,1,-1,1`=,=`1,3`x3,x4";
    }
	else if(SMethod=="bb")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb`SVarUnRes"

        SDefVal += "" + "2`2`MAX`Z`x1,x2`100,150`8000,4000;15,30`<=,<=`40000,200`";
        SDefVal += "~" + "2`3`MAX`Z`x1,x2`7,9`-1,3;7,1;0,1`<=,<=,<=`6,35,7`";
        SDefVal += "~" + "2`3`MAX`Z`x1,x2`3,5`2,4;1,0;0,2`<=,<=,<=`25,8,10`";
        SDefVal += "~" + "2`2`MIN`Z`x1,x2`3,2.5`1,2;3,2`>=,>=`20,50`";
        SDefVal += "~" + "2`2`MAX`Z`x1,x2`2,3`4,12;10,4`<=,<=`33,35`";
    }
	else if(SMethod=="01")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb`SVarUnRes"
        SDefVal += "" + "4`3`MAX`Z`x1,x2,x3,x4`300,90,400,150`35000,10000,25000,90000;4,2,7,3;1,1,0,0`<=,<=,<=`120000,12,1`";
        SDefVal += "~" + "4`5`MAX`Z`x1,x2,x3,x4`650,700,225,250`700,850,300,350;550,550,150,200;400,350,100,0;1,1,0,0;0,0,-1,1`<=,<=,<=,>=,<=`1200,700,400,1,1`";
    }
	else if(SMethod=="rsm")
	{
		//"Nv`Nc`SMinMax`SZ`SVar`SCj`SXSij`SXSign`SXb"

        SDefVal += "" + "2`2`MAX`Z`x1,x2`2,1`3,4;6,1`<=,<=`6,3";
        SDefVal += "~" + "2`3`MAX`Z`x1,x2`3,5`1,0;0,1;3,2`<=,<=,<=`4,6,18";
        SDefVal += "~" + "3`2`MAX`Z`x1,x2,x3`1,1,3`3,2,1;2,1,2`<=,<=`3,2";
    }


    var SDefs = SDefVal.split("~");
    var Ind = NextRandom(document.getElementById('ContentPlaceHolder1_hPrevInd').value,SDefs.length,"Next");
    document.getElementById('ContentPlaceHolder1_hPrevInd').value = Ind;

    setRandomTryThisValue(SDefs[Ind]);
}

function BodyLoad()
{
	if(document.getElementById('ContentPlaceHolder1_hBody').value==0)
	{
		document.getElementById('ContentPlaceHolder1_hBody').value=1;
		if(document.getElementById("ContentPlaceHolder1_hq1").value!="")
	    {
	        setRandomTryThisValue(document.getElementById("ContentPlaceHolder1_hq1").value);
	    }
	    else
	    {
		    RndClick();
	    	var SMethod = document.getElementById("ContentPlaceHolder1_ddlFind").value;
	        if(SMethod=="bb" || SMethod=="01" || SMethod=="gm")
	        {
	            document.getElementById('ContentPlaceHolder1_ddlMode').value="D";
            }
		}
	}
	else
	{
	    setRandomTryThisValue(document.getElementById("ContentPlaceHolder1_hq1").value);
	    location.href = "#tblSolution";
	}
	setTr12();
}

function setContentS(Nv, Nc, SMinMax, SZ, SVar, SCj, SXSij, SXSign, SXb, SVarUnRes)
{
	var S = "";
	//var SCVals = SCVal.split(";");

	var NoOfCons = eval(Nc);
	var NoOfVari = eval(Nv);
	document.getElementById("txtNoOfCons").value = NoOfCons;
	document.getElementById("txtNoOfVari").value = NoOfVari;

	//-->GENERATE HTML INPUT TABLE
    BtnGenerate_onclick();
	//<--GENERATE HTML INPUT TABLE

	if(SMinMax.toLowerCase() == "max")
	{
		document.getElementById("ddlMinMax").selectedIndex = 0;
	}
    else
    {
		document.getElementById("ddlMinMax").selectedIndex = 1;
	}
    ddlMinMax_change();

	//-->MAX_Z
	//SZ
	document.getElementById("divSZ").innerHTML = SZ;

	var SCjs = SCj.toString().split(",");
	var SVars = SVar.toString().split(",");
	var SAllVars = SVars; //to use globally

	for(j=1;j<=NoOfVari;j++)
	{
		document.getElementById("divCj"+j).innerHTML = SVars[j-1];
		document.getElementById("txtCj"+j).value = SCjs[j-1];
	}
	//<--MAX_Z


	//-->CONTENTS
	var SXSijs = SXSij.toString().split(";");
	var SXbs = SXb.toString().split(",");
	var SXSigns = SXSign.toString().split(",");
	for(i=1;i<=NoOfCons;i++)
	{
		var SData = SXSijs[i-1].toString().split(",");
		for(j=1;j<=NoOfVari;j++)
		{
    		document.getElementById("divXSij_"+i+"_"+j).innerHTML = SVars[j-1];
    		document.getElementById("txtXSij_"+i+"_"+j).value = SData[j-1];
		}

		if(SXSigns[i-1]==">=" || SXSigns[i-1]==">")
		    document.getElementById("ddlXSign"+i).selectedIndex = 1;
		else if(SXSigns[i-1]=="=")
		    document.getElementById("ddlXSign"+i).selectedIndex = 2;
		else
		    document.getElementById("ddlXSign"+i).selectedIndex = 0;

		document.getElementById("txtXb"+i).value = SXbs[i-1];
	}
	//<--CONTENTS

    //-->all variable set again with corresponding variable names, from x1,x2,x3 (default) to x,y,z
	document.getElementById("divAllVar").value = SVar;
	document.getElementById("divVar").innerHTML = SVar;
	var divVarUnRes="";
    for(j=1;j<=SAllVars.length;j++)
    {
        divVarUnRes += "<INPUT id='chkX"+j+"' onclick='chkVarUnResClick()' type='checkbox'>" + SAllVars[j-1] +"";;
		if(j<SAllVars.length)
		{
			divVarUnRes += ",";
		}
    }
	document.getElementById("divVarUnRes").innerHTML = divVarUnRes;
    //<--all variable set again with corresponding variable names, from x1,x2,x3 (default) to x,y,z

	//-->unrestricted variable set if exists
	if(SVarUnRes!="")
	{
	    var SVarUnRess = SVarUnRes.toString().split(",");
        for(i=0;i<SAllVars.length;i++)
        {
            for(j=0;j<SVarUnRess.length;j++)
            {
                if(SAllVars[i]==SVarUnRess[j])
                {
                    document.getElementById('chkX'+(i+1)).checked=true;
                    break;
                }
            }
        }
        chkVarUnResClick();
    }
	//<--unrestricted variable set if exists
}


function clearContentS()
{
	var Nv=(document.getElementById("txtNoOfVari").value);
	var Nc=(document.getElementById("txtNoOfCons").value);

	var S = "";
	//var SCVals = SCVal.toString().split(";");

	var NoOfCons = eval(Nc);
	var NoOfVari = eval(Nv);

	//-->MAX_Z
	for(j=1;j<=NoOfVari;j++)
	{
		document.getElementById("txtCj"+j).value = "";
	}
	//<--MAX_Z


	//-->CONTENTS
	for(i=1;i<=NoOfCons;i++)
	{
		for(j=1;j<=NoOfVari;j++)
		{
    		document.getElementById("txtXSij_"+i+"_"+j).value = "";
		}

	    document.getElementById("ddlXSign"+i).selectedIndex = 0;
		document.getElementById("txtXb"+i).value = "";
	}
	//<--CONTENTS
}

	-->

    </script>
<table id="Table1" cellspacing="0" cellpadding="0" width="100%" border="0">
<tr>
<td align="center" valign="top" width="80%">
<script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ContentPlaceHolder1$ToolkitScriptManager1', 'form1', ['tctl00$ContentPlaceHolder1$UpdatePanel1','ContentPlaceHolder1_UpdatePanel1'], [], [], 90, 'ctl00');
//]]>
</script>
</td>
</tr>
<tr>
<td valign="top" align="center">
&nbsp;</td>
</tr>
<tr>
<td valign="top" align="left">
<table id="Table4" cellspacing="0" cellpadding="1" style="border-collapse:collapse;" border="1">
<tr>
<td valign="top" align="right">
<a class="EnterProbA" href="//cbom.atozmath.com/example/CBOM/Simplex.aspx?he=e&q=sm">
Algorithm and examples
</a>
</td>
</tr>
<tr>
<td align="center">
</td>
</tr>
<tr id="ContentPlaceHolder1_trFind" style="height:40px" class="labelTitle">
<td align="center" valign="middle">
Method <select name="ctl00$ContentPlaceHolder1$ddlFind" id="ContentPlaceHolder1_ddlFind" onchange="ddlFind_change();return false;">
<option selected="selected" value="sm">1. Simplex method (BigM method)</option>
<option value="tp">2. TwoPhase method</option>
<option value="ds">3. Dual simplex method</option>
<option value="is">4. Integer simplex method</option>
<option value="gm">5. Graphical method</option>
<option value="pd">6. Primal to Dual</option>
<option value="bb">7. Branch and Bound method</option>
<option value="01">8. 0-1 Integer programming problem</option>
<option value="rsm">9. Revised Simplex method</option>
</select>
</td>
</tr>
<tr>
<td align="center" class="labelTitle">
Solve the Linear programming problem using<br />
Simplex method calculator
</td>
</tr>
<tr>
<td align="center">
Type your linear programming problem
</td>
</tr>
<tr>
<td align="center">
<textarea id="txtLPP" cols="60" rows="6" onblur="LLPToTbl()"></textarea>
<br /><br />
<textarea id="txtA" style="width: 592px; height: 300px;display:none;"></textarea>
</td>
</tr>
<tr>
<td align="center">
<b>OR</b>
</td>
</tr>
<tr>
<td align="center">
Total Variables&nbsp;:
<input id="txtNoOfVari" type="text" size="2" value="3" onkeypress="doClick('BtnGenerate',event);">&nbsp;&nbsp;Total Constraints&nbsp;:&nbsp;<input id="txtNoOfCons" type="text" size="2" value="4" onkeypress="doClick('BtnGenerate',event);">&nbsp;<input id="BtnGenerate" onclick="return BtnGenerate_onclick()" type="button" value="Generate" class="button1" title="Generate">
&nbsp;</td>
</tr>
<tr>
<td>
</td>
</tr>
<tr>
<td align="center">
</td>
</tr>
<tr>
<td align="left">
<div id="lblData">
Click On Generate</div>
</td>
</tr>
<tr>
<td align="center">
</td>
</tr>
<tr>
<td align="center">
Mode :
<select name="ctl00$ContentPlaceHolder1$ddlMode" id="ContentPlaceHolder1_ddlMode">
<option selected="selected" value="D">Decimal</option>
<option value="F">Fraction</option>
</select>
</td>
</tr>
<tr id="trMinToMax" style="display:none">
<td align="center">
<input id="ContentPlaceHolder1_chkMinToMax" type="checkbox" name="ctl00$ContentPlaceHolder1$chkMinToMax" /><label for="ContentPlaceHolder1_chkMinToMax">Solve after converting Min function to Max function</label>
</td>
</tr>
<tr id="tr1">
<td align="center">
Calculate : <select name="ctl00$ContentPlaceHolder1$ddlZjMinusCj" id="ContentPlaceHolder1_ddlZjMinusCj">
<option value="true">Zj-Cj</option>
<option value="false">Cj-Zj</option>
</select>
</td>
</tr>
<tr id="tr2">
<td align="center">
<input id="ContentPlaceHolder1_chkMultipleSol" type="checkbox" name="ctl00$ContentPlaceHolder1$chkMultipleSol" /><label for="ContentPlaceHolder1_chkMultipleSol">Alternate Solution (if exists)</label>
<input id="ContentPlaceHolder1_chkArtificialColRemove" type="checkbox" name="ctl00$ContentPlaceHolder1$chkArtificialColRemove" checked="checked" /><label for="ContentPlaceHolder1_chkArtificialColRemove">Artificial Column Remove</label>
<input id="ContentPlaceHolder1_chkSubtractionSteps" type="checkbox" name="ctl00$ContentPlaceHolder1$chkSubtractionSteps" checked="checked" /><label for="ContentPlaceHolder1_chkSubtractionSteps">Subtraction Steps</label>
</td>
</tr>
<tr style="display:none">
<td align="center">
<input id="ContentPlaceHolder1_chkTooltip" type="checkbox" name="ctl00$ContentPlaceHolder1$chkTooltip" /><label for="ContentPlaceHolder1_chkTooltip">Tooltip for calculation steps</label>
<input id="ContentPlaceHolder1_chkHighlight" type="checkbox" name="ctl00$ContentPlaceHolder1$chkHighlight" /><label for="ContentPlaceHolder1_chkHighlight">Highlight dependent cells</label>
</td>
</tr>
<tr>
<td align="center">
</td>
</tr>
<tr>
<td align="center">
<input type="submit" name="ctl00$ContentPlaceHolder1$BtnFind" value="Find" onclick="return BtnFind_Click();" id="ContentPlaceHolder1_BtnFind" title="Find" class="button1" />
<input name="ctl00$ContentPlaceHolder1$BtnRandom" type="button" id="ContentPlaceHolder1_BtnRandom" class="button1" title="Random" onclick="RndClick();" value="Random" />
<input class="button1" id="BtnNew" title="Clear Contents" onclick="clearContentS();" type="button" value="New">
<div align="left"><ol id="ContentPlaceHolder1_OlLb1" class="OLTable"><li onclick="return lb_click('3`3`max`Z`x1,x2,x3`3,5,4`2,3,0;0,2,5;3,2,4`<=,<=,<=`8,10,15`');">max Z = 3x1 + 5x2 + 4x3<br>subject to<br>2x1 + 3x2 <= 8<br>2x2 + 5x3 <= 10<br>3x1 + 2x2 + 4x3 <= 15<br>and x1,x2,x3 >= 0 <hr></li><li onclick="return lb_click('3`3`max`Z`x1,x2,x3`5,10,8`3,5,2;4,4,4;2,4,5`<=,<=,<=`60,72,100`');">max Z = 5x1 + 10x2 + 8x3<br>subject to<br>3x1 + 5x2 + 2x3 <= 60<br>4x1 + 4x2 + 4x3 <= 72<br>2x1 + 4x2 + 5x3 <= 100<br>and x1,x2,x3 >= 0 <hr></li><li onclick="return lb_click('2`4`max`Z`x1,x2`4,3`2,1;1,1;1,0;0,1`<=,<=,<=,<=`1000,800,400,700`');">max Z = 4x1 + 3x2<br>subject to<br>2x1 + x2 <= 1000<br>x1 + x2 <= 800<br>x1 <= 400<br>x2 <= 700<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`2`min`Z`x1,x2`1,1`2,4;1,7`>=,>=`4,7`');">min Z = x1 + x2<br>subject to<br>2x1 + 4x2 >= 4<br>x1 + 7x2 >= 7<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`2`min`Z`x1,x2`600,500`2,1;1,2`>=,>=`80,60`');">min Z = 600x1 + 500x2<br>subject to<br>2x1 + x2 >= 80<br>x1 + 2x2 >= 60<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`3`min`Z`x1,x2`5,3`2,4;2,2;5,2`<=,=,>=`12,10,10`');">min Z = 5x1 + 3x2<br>subject to<br>2x1 + 4x2 <= 12<br>2x1 + 2x2 = 10<br>5x1 + 2x2 >= 10<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('4`3`max`Z`x1,x2,x3,x4`1,2,3,-1`1,2,3,0;2,1,5,0;1,2,1,1`=,=,=`15,20,10`');">max Z = x1 + 2x2 + 3x3 - x4<br>subject to<br>x1 + 2x2 + 3x3 = 15<br>2x1 + x2 + 5x3 = 20<br>x1 + 2x2 + x3 + x4 = 10<br>and x1,x2,x3,x4 >= 0 <hr></li><li onclick="return lb_click('2`2`max`Z`x1,x2`3,9`1,4;1,2`<=,<=`8,4`');">max Z = 3x1 + 9x2<br>subject to<br>x1 + 4x2 <= 8<br>x1 + 2x2 <= 4<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('3`2`max`Z`x1,x2,x3`3,2,1`2,5,1;3,4,0`=,=`12,11`x1');">max Z = 3x1 + 2x2 + x3<br>subject to<br>2x1 + 5x2 + x3 = 12<br>3x1 + 4x2 = 11<br>and x2,x3 >= 0 and x1 unrestricted in sign<hr></li><li onclick="return lb_click('4`2`max`Z`x1,x2,x3,x4`3,3,2,1`2,2,5,1;3,3,4,0`=,=`12,11`');">max Z = 3x1 + 3x2 + 2x3 + x4<br>subject to<br>2x1 + 2x2 + 5x3 + x4 = 12<br>3x1 + 3x2 + 4x3 = 11<br>and x1,x2,x3,x4 >= 0 <hr></li><li onclick="return lb_click('2`3`max`Z`x1,x2`6,4`2,3;3,2;1,1`<=,<=,>=`30,24,3`');">max Z = 6x1 + 4x2<br>subject to<br>2x1 + 3x2 <= 30<br>3x1 + 2x2 <= 24<br>x1 + x2 >= 3<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`3`max`Z`x1,x2`3,5`1,-2;1,0;0,1`<=,<=,>=`6,10,1`');">max Z = 3x1 + 5x2<br>subject to<br>x1 - 2x2 <= 6<br>x1 <= 10<br>x2 >= 1<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`2`max`Z`x1,x2`6,4`1,1;0,1`<=,>=`5,8`');">max Z = 6x1 + 4x2<br>subject to<br>x1 + x2 <= 5<br>x2 >= 8<br>and x1,x2 >= 0 <hr></li><li onclick="return lb_click('2`2`max`Z`x1,x2`6,4`-1,-1;0,1`>=,>=`-5,8`');">max Z = 6x1 + 4x2<br>subject to<br>-x1 - x2 >= -5<br>x2 >= 8<br>and x1,x2 >= 0 <hr></li></ol></div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td valign="top" align="center">
&nbsp;
</td>
</tr>
<tr>
<td valign="top" align="center">
</td>
</tr>
<tr>
<td valign="top" align="center">
<div id="ContentPlaceHolder1_UpdateProgress1" style="display:none;">
<div class="divUpdateProgressWait"></div>
</div>
</td>
</tr>
<tr>
<td valign="top" align="left">
<div id="ContentPlaceHolder1_UpdatePanel1">
</div>
<div class="ajax__tab_xp" id="ContentPlaceHolder1_TabContainer1" style="visibility:hidden;">
<div id="ContentPlaceHolder1_TabContainer1_header">
<span id="__tab_ContentPlaceHolder1_TabContainer1_TabPanel1">Solution</span><span id="__tab_ContentPlaceHolder1_TabContainer1_TabPanel2">Help</span>
</div><div id="ContentPlaceHolder1_TabContainer1_body">
<div id="ContentPlaceHolder1_TabContainer1_TabPanel1" style="display:none;visibility:hidden;">
<div>
<table id="tblSolution" cellspacing="0" cellpadding="6" width="100%" border="0">
<tr>
<td class="solution">
<span id="ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_lblSolution" class="solution">Solution</span>
</td>
</tr>
<tr>
<td class="solutiontext">

<div class="adsbyvli" data-ad-slot="vi_313010421"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_313010421")})</script>

</td>
</tr>
<tr>
<td class="solutiontext">
<div id='printReady'>
<table width="100%"><tr><td>
<span id="ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_lblSolutionText" class="solutiontext"></span>
</td></tr></table>
<input name="ctl00$ContentPlaceHolder1$TabContainer1$TabPanel1$SolCtl1$hCodeSol" type="hidden" id="ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_hCodeSol" />
<script type="text/javascript">
var startDate = new Date();
$("#ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_BtnNextSteps").click(function (e) {
    e.preventDefault();
    $("#ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_BtnNextSteps").hide();

    var R = RandomInt(6);
    if(R<=0 || R>6)
        R=3;
    var endDate = new Date();
    var seconds2 = parseInt((endDate.getTime() - startDate.getTime()) / 1000);
    var seconds = 14 + R - seconds2;

    var BFlg = true;
    setInterval(function (url)
    {
        if (seconds <= 1 && BFlg)
        {
            var hCodeSol = "";
            document.getElementById("ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_hCodeSol").value = hCodeSol;

            //alert(seconds);
            BFlg=false;//to stop execute again
            $("#dvCountDown").hide();
            window.location = url;
        }
        seconds--;
        if(BFlg)
            $("#lblCount").html(seconds);

    }, 1200, this.href);

    if(seconds >= 1 &&BFlg)
    {
        $("#dvCountDown").show();
        $("#lblCount").html(seconds);
    }
});
</script>
<br />
<br><br>Solution provided by AtoZmath.com
</div>
</td>
</tr>
<tr>
<td class="solutiontext">
<span id="ContentPlaceHolder1_TabContainer1_TabPanel1_SolCtl1_lblSuggestion"></span>
</td>
</tr>
<tr>
<td class="solutiontext">
Want to know about
<a class="footer1" target="_blank" href="//atozmath.com/Help/Aboutus.aspx" title="About us">
AtoZmath.com and me</a>
</td>
</tr>
</table>
</div>
<script language="javascript" type="text/javascript">
function BodyLoadAndScrollTo()
{
    BodyLoad();
    location.href = "#PrevPart";
}
</script>
<br>
<iframe id="solFrame" width="100%" frameborder="0" style="border-right: medium none;
                    border-top: medium none; overflow: hidden; border-left: medium none; width: 100%;
                    border-bottom: medium none" allowtransparency></iframe>
</div><div id="ContentPlaceHolder1_TabContainer1_TabPanel2" style="display:none;visibility:hidden;">
<iframe src="//cbom.atozmath.com/example/CBOM/Simplex.aspx?he=h&q=sm" id="Iframe8" style="border-right: medium none; border-top: medium none; overflow: hidden; border-left: medium none; border-bottom: medium none; width: 100%" allowtransparency="true" onload="resizeIframe(this)"></iframe>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td valign="top" align="left">
</td>
</tr>
<tr>
<td valign="top" align="left">
<input name="ctl00$ContentPlaceHolder1$hPrevInd" type="hidden" id="ContentPlaceHolder1_hPrevInd" value="0" />
<input name="ctl00$ContentPlaceHolder1$hBody" type="hidden" id="ContentPlaceHolder1_hBody" value="0" />
<input name="ctl00$ContentPlaceHolder1$hq1" type="hidden" id="ContentPlaceHolder1_hq1" />
<input name="ctl00$ContentPlaceHolder1$hNv" type="hidden" id="ContentPlaceHolder1_hNv" value="0" />
<input name="ctl00$ContentPlaceHolder1$hNc" type="hidden" id="ContentPlaceHolder1_hNc" value="0" />
<input name="ctl00$ContentPlaceHolder1$hCj" type="hidden" id="ContentPlaceHolder1_hCj" />
<input name="ctl00$ContentPlaceHolder1$hXSij" type="hidden" id="ContentPlaceHolder1_hXSij" />
<input name="ctl00$ContentPlaceHolder1$hXb" type="hidden" id="ContentPlaceHolder1_hXb" />
<input name="ctl00$ContentPlaceHolder1$hXSign" type="hidden" id="ContentPlaceHolder1_hXSign" />
<input name="ctl00$ContentPlaceHolder1$hMinMax" type="hidden" id="ContentPlaceHolder1_hMinMax" />
<input name="ctl00$ContentPlaceHolder1$hZ" type="hidden" id="ContentPlaceHolder1_hZ" />
<input name="ctl00$ContentPlaceHolder1$hVar" type="hidden" id="ContentPlaceHolder1_hVar" />
<input name="ctl00$ContentPlaceHolder1$hVarUnRes" type="hidden" id="ContentPlaceHolder1_hVarUnRes" />
<input name="ctl00$ContentPlaceHolder1$hMode" type="hidden" id="ContentPlaceHolder1_hMode" />
<input name="ctl00$ContentPlaceHolder1$hMethod" type="hidden" id="ContentPlaceHolder1_hMethod" value="sm" />
</td>
</tr>
</table>
<script language="javascript" type="text/javascript">
var UpdateProgress1_JsId = 'ContentPlaceHolder1_UpdateProgress1';
var Btns = new Array('ContentPlaceHolder1_BtnFind');
</script>
<script language="javascript" type="text/javascript" src="../scripts/UpdateProgress.js"></script>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<hr />
</td>
</tr>
<tr>
<td>
<style type="text/css">
  .imageH {width: 30px; height: 30px; vertical-align: bottom; border-style: none;}
 </style>
<script type="text/javascript">
var url = encodeURIComponent(window.location.href);
var title = encodeURIComponent(document.title);
var description = title;

 function shareH(type)
 {
    if(type=="facebook") {
		window.open ("https://www.facebook.com/sharer/sharer.php?u=" + url + "&t=" + title);
	} else if(type=="twitter") {
		window.open ("https://twitter.com/intent/tweet?url=" + url + "&text=" + title);
	} else if(type=="google") {
		window.open ("https://plus.google.com/share?url=" + url );
	} else if(type=="whatsapp") {
		window.open ("https://wa.me/?text=" + url );
	} else if(type=="email") {
		window.open ("mailto:?Subject="+ title +"&Body="+ url +"");
    }
 }
 </script>
<div id="divShare" style="position: fixed; right: 1%; top: 40%; color: black;">

<div id="divShare1" style="display:none">
<a href="Javascript:void(0)" onclick="shareH('facebook')" title="Facebook"><img src="//atozmath.com/ShareImages/facebook.gif" class="imageH" title="Facebook"></a>
<a href="Javascript:void(0)" onclick="shareH('twitter')" title="Twitter"><img src="//atozmath.com/ShareImages/twitter.png" class="imageH" title="Twitter"></a>
<a href="Javascript:void(0)" onclick="shareH('google')" title="Google"><img src="//atozmath.com/ShareImages/google.png" class="imageH" title="Google"></a>
<a href="Javascript:void(0)" onclick="shareH('whatsapp')" title="Whatsup"><img src="//atozmath.com/ShareImages/whatsapp.png" class="imageH" title="Whatsup"></a>
<a href="Javascript:void(0)" onclick="shareH('email')" title="Email"><img src="//atozmath.com/ShareImages/email.png" class="imageH" title="Email"></a>

<a href="Javascript:void(0)" onclick="shareClick(0)" title="Close"><img src="//atozmath.com/ShareImages/Close.png" class="imageH" title="Close"></a>
</div>
<div id="divShare2" style="display:inline">
<a href="Javascript:void(0)" onclick="shareClick(1)" title="Share"><img src="//atozmath.com/ShareImages/share1.png" class="imageH" title="Share"></a>
</div>
</div>
<script language="javascript">
function shareClick(id)
{
    if(id==1)
    {
        $('#divShare1').fadeIn();
        document.getElementById("divShare2").style.display="none";
        document.getElementById("divShare1").style.display="";
    }
    else
    {
		$('#divShare1').fadeOut();
        document.getElementById("divShare2").style.display="";
        document.getElementById("divShare1").style.display="none";
    }
}
</script>
</td>
</tr>
<tr>
<td>
<br />

<div class="adsbyvli" data-ad-slot="vi_313010421"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_313010421")})</script>

<br />
</td>
</tr>
</tbody>
</table>
</td>
<td class="menubg" valign="top" style="width:160px;">
<table cellspacing="1" cellpadding="0" width="100%" border="0">
<tbody>
<tr>
<td>
<div id='SVuoO'>
<div id='LiKVa'>

<div class="adsbyvli" data-ad-slot="vi_31308700"></div><script>(vitag.Init = window.vitag.Init || []).push(function(){viAPItag.display("vi_31308700")})</script>

</div>
</div>
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
<div class="adsbyvli" style="width:160px;height:59px;display:none"></div>
</td>
</tr>
<tr align="center">
<td>
</td>
</tr>
<tr>
<td>
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr class="menubg1">
<td align="right">
<table id="Table2" border="0" cellpadding="0" cellspacing="0" width="90%">
<tr>
<td>
<a class="topmenu5" href="//atozmath.com/default.aspx" title="Home">
Home</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/WhatsNewMenu.aspx" title="What's new">
What's new</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/CollegeAlgebra.aspx" title="College Algebra">
College Algebra</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Menu/GamesMenu.aspx" title="All Available Games">
Games</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Feedback/Feedback.aspx" title="Feedback">Feedback</a></td>
<td>
<a class="topmenu5" href="//atozmath.com/Help/Aboutus.aspx" title="About us">
About us</a></td>
</tr>
</table>
</td>
</tr>
<tr class="menubg1">
<td align="left">
</td>
</tr>
<tr>
<td class="copy">
&nbsp;
</td>
</tr>
<tr>
<td class="copy">
Copyright © 2021. All rights reserved.
<a class="footer1" href="//atozmath.com/terms.aspx" target="_blank">Terms</a>,
<a class="footer1" href="//atozmath.com/privacy.aspx" target="_blank">Privacy</a>
</td>
</tr>
<tr>
<td class="copy">
&nbsp;
</td>
</tr>
<tr>
<td class="copy">
This site is protected by reCAPTCHA and the Google
<a class="footer1" href="https://policies.google.com/privacy">Privacy Policy</a> and
<a class="footer1" href="https://policies.google.com/terms">Terms of Service</a> apply.
</td>
</tr>
<tr>
<td class="copy">
&nbsp;
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
</td>
</tr>
</table>
<br />
<input name="ctl00$hCode" type="hidden" id="hCode" />
<script type="text/javascript">
$(document).ready(function()
{
  var Cnt = 0;
  var x = window.setInterval( function()
  {
    var y = 0;
    var Sy = "";
    var Svi1 = "",Svi2 = "";//Svi3 = "";
    $(".adsbyvli").each(function( index )
    {
        var h = $(this).height();
        if(y < h)
            y = h;
        Sy +=  Math.round(h)+"~";
        Svi1 += $(this).attr("data-ad-slot")+"~";
        Svi2 += $(this).text().length+"~";
//        Svi3 += $(this).attr("data-id")+"~";
    });


//    if(Cnt%5==0)
//    {
//        console.log("Sy="+Sy+";");
//        console.log("Svi1="+Svi1+";");
//        console.log("Svi3="+Svi3+";");
//        console.log("Svi2="+Svi2+";");
//    }

    document.cookie = "BAdBlock3="+ Math.round(y);
    document.cookie = "BAdBlock4="+Sy;
    document.cookie = "BAdSvi1="+Svi1;
    document.cookie = "BAdSvi2="+Svi2;

    if(Cnt==0)
    {
        var hCode = "";
        document.getElementById("hCode").value = hCode;
    }

    if (Cnt>=180)//if (Cnt>=50)
    {
        clearInterval(x);
        return;
    }

    Cnt++;
  }, 1000);
});

</script>
<script type="text/javascript">
//<![CDATA[
BodyLoad();Sys.Application.add_init(function() {
    $create(AjaxControlToolkit.DropDownBehavior, {"dropDownControl":$get("ContentPlaceHolder1_OlLb1"),"dynamicServicePath":"/CBOM/Simplex.aspx","id":"ContentPlaceHolder1_DropDownExtender1"}, null, null, $get("ContentPlaceHolder1_BtnRandom"));
});
Sys.Application.add_init(function() {
    $create(Sys.UI._UpdateProgress, {"associatedUpdatePanelId":"ContentPlaceHolder1_UpdatePanel1","displayAfter":0,"dynamicLayout":true}, null, null, $get("ContentPlaceHolder1_UpdateProgress1"));
});
Sys.Application.add_init(function() {
    $create(AjaxControlToolkit.TabPanel, {"headerTab":$get("__tab_ContentPlaceHolder1_TabContainer1_TabPanel1")}, null, {"owner":"ContentPlaceHolder1_TabContainer1"}, $get("ContentPlaceHolder1_TabContainer1_TabPanel1"));
});
Sys.Application.add_init(function() {
    $create(AjaxControlToolkit.TabPanel, {"headerTab":$get("__tab_ContentPlaceHolder1_TabContainer1_TabPanel2")}, null, {"owner":"ContentPlaceHolder1_TabContainer1"}, $get("ContentPlaceHolder1_TabContainer1_TabPanel2"));
});
Sys.Application.add_init(function() {
    $create(AjaxControlToolkit.TabContainer, {"activeTabIndex":1,"clientStateField":$get("ContentPlaceHolder1_TabContainer1_ClientState")}, null, null, $get("ContentPlaceHolder1_TabContainer1"));
});
//]]>
</script>
</form>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22829835-1']);
  _gaq.push(['_setDomainName', '.atozmath.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<br />
<br /><br />
<br />
<div id="back-top" class="backToTop">
<a href="#top">
<img src="//atozmath.com/IMAGES1/backtotop.png" width="80%" />
</a>
</div>
<script>
$(document).ready(function(){

	// hide #back-top first
	$("#back-top").hide();

	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 250) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});

		// scroll body to 0px on click
		$('#back-top a').click(function () {
			$('body,html').animate({
				scrollTop: $("#top").offset().top
			}, 800);
			return false;
		});
	});

});
</script>


<script>
$(document).ready(function(){

$(window).scroll( FStickyElements );
$(window).resize( FStickyElements );

    FStickyElements();

    //$(window).scroll(function(){
    function FStickyElements(){
  //this code executes when the scroll event occurs.

    //vi_160x600_sticky-right-ad
    if($("#SVuoO").length)
    {
        var x2 = $("#SVuoO").offset();
        if(x2.top < $(window).scrollTop())
        {
            $("#LiKVa").css({top: '0', position:'fixed', zIndex:'2147483647'});
        }
        else
        {
            $("#LiKVa").css({top: '', position:'', zIndex:''});
        }
    }

    if($("#KFYzM").length)
    {
        //var top1=170,top2=top1+250;
        //var top0=1,top1=250,top2=top1+250;
        var top0=0,top1=251,top2=top1+251;
        var x2 = $("#KFYzM").offset();
        if(x2.top < $(window).scrollTop()+10)//if(x2.top > $(window).scrollTop() + $( window ).height())
        {
            $("#iEJoY").css({top: ''+top0+'px', left: '-'+($(window).scrollLeft()-0)+'px', position:'fixed', zIndex:'2147483642', width:'300px'});//border-radius: 1px;
            $("#HcdMD").css({top: ''+top1+'px', left: '-'+($(window).scrollLeft()-0)+'px', position:'fixed', zIndex:'2147483641', width:'300px'});//border-radius: 1px;
            $("#HkYLk").css({top: ''+top2+'px', left: '-'+($(window).scrollLeft()-0)+'px', position:'fixed', zIndex:'2147483640', width:'300px'});
        }
        else
        {
            $("#iEJoY").css({top: '', left: '', position:'', zIndex:'', width:'300px'});
            $("#HcdMD").css({top: '', left: '', position:'', zIndex:'', width:'300px'});
            $("#HkYLk").css({top: '', left: '', position:'', zIndex:'', width:'300px'});
        }
    }

    }
});

</script>


<style> #__vliadb83{ display: none; position: fixed; background: rgb(221, 221, 221); z-index: 9999999; opacity: 1; visibility: visible; top: 100px; right: 0px; left: 0px; max-width: 640px; margin-right: auto; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 2px; font-family: Arial, Helvetica, sans-serif; } #__vliadb83 .__vliadb83-content{ padding: 30px 30px 15px; } #__vliadb83 #__vliadb83-cls{ display: inline-block; position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #bbb; font-size: 32px; font-weight: 700; line-height: 30px; text-align: center; cursor: pointer; -webkit-transition: 0.3s; transition: 0.3s; } #__vliadb83 #__vliadb83-cls:hover{color: #5f5e5e;} #__vliadb83-bg{ display: none; position: fixed; z-index: 999999; background: rgba(0, 0, 0, 0.8); top: 0px; left: 0px; width: 100%; height: 100%;} </style> <div id="__vliadb83"> <div class="__vliadb83-content"> <h1 style="margin-bottom: 15px; padding: 0 30px; color: #252b37; font-size: 28px; line-height: 1.25; text-align: center;">Adblocker detected!</h1><p>Dear user,</p> <p> We've detected that you are using AdBlock Plus or some other adblocking software which is preventing the page from fully loading. </p> <p> We don't have any banner, Flash, animation, obnoxious sound, or popup ad. We do not implement these annoying types of ads! </p> <p><h2>We need money to operate the site, and almost all of it comes from our online advertising.</h2></p> <p> <strong>Please add <a href="//atozmath.com" target="_blank" rel="noopener"> atozmath.com </a> to your ad blocking whitelist or disable your adblocking software.</strong></p> <p><strong><h2>After unblocking website please refresh the page and click on find button again.</h2></strong></p> <p>Thanks for your support</p> </div> <a id="__vliadb83-cls">×</a> </div> <div id="__vliadb83-bg"></div> <script src="//cdn.jsdelivr.net/gh/vli-platform/adb-analytics@a6f3a45/v1.0.min.js"></script> <script> (function () { (window.adblockDetector = window.adblockDetector || []).push(function () { window.adbDetector.init({ id: '962dec78ea18169a87ea88122cd055e6', debug: true, cookieExpire: 0, found: function () { window.adbDetector.alert({ hiddenCloseButton: false, clickBackgroundToClose: true }); } }); }) }()); </script>

<script type="text/javascript">
$.ajax({
    url: getApplicationPath()+'/Scripts/advertisement.js', // this is just an empty js file
    dataType: "script"
    ,success: function(data) {
        //alert('No Blocking advertisement.js');
        document.cookie = "BAdBlock1=0";
    }
})
.fail(function () {
    //alert('Blocking advertisement.js');
    document.cookie = "BAdBlock1=1";
});
</script>
<div id="1zQ7" class="ads showads ad adsbox ad-placement carbon-ads bottom-ad ads_box ads-bottom ads-footer ads-right ads-top ads-left">&nbsp; . &nbsp;</div>
<script type="text/javascript">
$(document).ready(function()
{
  window.setTimeout( function()
  {
   if($("#1zQ7").is(":visible"))
   {
        //alert("Not Blocking")
        document.cookie = "BAdBlock2=0";
   }
   else
   {
        //alert("Blocking")
        document.cookie = "BAdBlock2=1";
   }
  }, 400);
});
</script>
</body>
</html>
