<!DOCTYPE html>
<html>
<head>
  <style>
  body {
    background-color: linen;
  }

  #Matrix1{
    margin:25px 0 0 25px;
}
  </style>
</head>
<body>

<p>Click the buttons to create and delete row(s) for the table.</p>


<FORM NAME = "MatrixInputs" METHOD="POST" ACTION="/tutorial">
  <table id="Matrix1">
  </table>
<P><INPUT TYPE="SUBMIT" VALUE="Submit"></P>
</FORM>

<button onclick="CreateRow('Matrix1')">Create row</button>
<button onclick="CreateColumn('Matrix1')">Create column</button>
<button onclick="DeleteRow('Matrix1')">Delete row</button>
<button onclick="DeleteColumn('Matrix1')">Delete column</button>
<script type="text/javascript">
       function startup() {
         var nrows = 2
           for (var i = 0; i < nrows; i++)
           {
             CreateRow('Matrix1');
             CreateColumn('Matrix1');
           }
       }
       window.onload = startup;
</script>
<script>
function CreateCell(rowindex, cellindex, table) {

  var cell = table.rows[rowindex].insertCell(cellindex);
  cell.innerHTML = '';
  var input = document.createElement('input');
  //var text = "NEW CELL" + String(cellindex);
  var text = "0"
  input.type = "text";
  input.value = text;
  input.name = String(cellindex) + String(rowindex) //first num is left to right, second num is from top to bottom.
  cell.appendChild(input);
}
function CreateRow(tablename) {
  console.log(tablename);
  var table = document.getElementById(tablename);
  var row = table.insertRow(table.rows.length);

  console.log(table.rows[0].cells.length);

  for (var i = 0; i < table.rows[0].cells.length; i++) { //to add cells to the previous rows for square matrix
    /*if (i < table.rows.length - 1) {
    CreateCell(i, table.rows.length - 1, table);
  }*/
    CreateCell(table.rows.length - 1, i, table);

  }
}

function CreateColumn(tablename)
{
    var table = document.getElementById(tablename);
    var len = table.rows[0].cells.length
    console.log(len)
    for (var i = 0; i < table.rows.length; i++)
    {

      console.log(table.rows[i].cells.length)
      for (var j = table.rows[i].cells.length; j < len+1; j++)
        CreateCell(i, j, table);
    }

}

function DeleteRow(tablename) {
  table = document.getElementById(tablename);
  table.deleteRow(table.rows.length - 1);

}

function DeleteColumn(tablename)
{
  table = document.getElementById(tablename);
  for (var i = 0; i < table.rows.length; i++) {
    table.rows[i].deleteCell(table.rows[i].cells.length - 1);
  }
}
</script>

</body>
</html>
