<!DOCTYPE html>
<html>
<head>
  <style>
  body {
    background-color: linen;
  }

  #Matrix1{
    margin:25px 0 0 25px;
}
  </style>
</head>
<body>

<p>Click the buttons to create and delete row(s) for the table.</p>


<FORM NAME = "MatrixInputs" METHOD="POST" ACTION="/tutorial">
  <table id="Matrix1">
  </table>
<P><INPUT TYPE="SUBMIT" VALUE="Submit"></P>
</FORM>

<button onclick="CreateRow(Matrix1)">Create row</button>
<button onclick="DeleteRow()">Delete row</button>
<script type="text/javascript">
       function startup() {
         var nrows = 2
           for (var i = 0; i < nrows; i++)
           {
             CreateRow()
           }
       }
       window.onload = startup;
</script>
<script>
function CreateCell(rowindex, cellindex, table) {

  var cell = table.rows[rowindex].insertCell(cellindex);
  cell.innerHTML = '';
  var input = document.createElement('input');
  //var text = "NEW CELL" + String(cellindex);
  var text = "0"
  input.type = "text";
  input.value = text;
  input.name = String(cellindex) + String(rowindex) //first num is left to right, second num is from top to bottom.
  cell.appendChild(input);
}
function CreateRow(tablename) {
  var table = document.getElementById(tablename);
  var row = table.insertRow(table.rows.length);

  for (var i = 0; i < table.rows.length; i++) { //to add cells to the previous rows for square matrix
    if (i < table.rows.length - 1) {
    CreateCell(i, table.rows.length - 1, table);
  }
  CreateCell(table.rows.length - 1, i, table);

  }
}

CreateColumn()
{

}

function DeleteRow() {
  table = document.getElementById("Matrix1");
  table.deleteRow(table.rows.length - 1);
  for (var i = 0; i < table.rows.length; i++) {
    table.rows[i].deleteCell(table.rows.length);
  }
}
</script>

</body>
</html>
